{% set feedback_form_config =  {
    "form_action" : form.vars.action,
    "form_name" : form.vars.full_name,
    "body_name" : form.body.vars.full_name,
    "uri_name" : form.uri.vars.full_name,
    "uri_value" : form.uri.vars.value,
    "token_name" : form._token.vars.full_name,
    "token_value" : form._token.vars.value,
    "submit_name" : form.submit.vars.full_name
}
%}


<div ng-controller="feedback.Controller" tc-feedback-modal
     ng-init='form_config = {{feedback_form_config|json_encode|raw}}'
     class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <form name="feedbackForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="feedbackModalLabel">How do feel about Timecrumbs ?</h4>
                </div>
                <div class="modal-body" ng-cloak>
                    <div class="alert alert-warning"
                         ng-show="request.status=='sent' && request.success">
                        Thank you for contibuting to TimeCrumbs!
                    </div>
                        
                    <div class="alert alert-warning"
                         ng-show="request.status=='sent' && !request.success">
                        Opps somehting went wrong. Please contact us directly at info@flsolutions.ca
                    </div>  
                        
                    <p>Don't hesitate to leave your feedbacks, report bugs or share your ideas. It will help us to make build offer you a better service!</p>
                    
                    <textarea class="form-control" rows="4"
                              ng-required="true" 
                              ng-model="newFeedback.body"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-hide="request.sending">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="sendFeedback()"
                            ng-disabled="!feedbackForm.$dirty || feedbackForm.$invalid || request.status=='sending' ">
                        <span ng-show="request.status=='sending'">Sending ...</span>
                        <span ng-show="request.status!='sending'">Send</span>
                    </button>
                        <div bg-bind="request.status"></div>
                </div>
            </form>
        </div>
    </div>        
</div>
