<div class="tc-order-read tc-order-sheet tc-sheet">

    <div class="tc-offer-section">
        <legend>Job Outcomes</legend>   
        <p class="tc-offer">
            <em>{{order.offer}}</em>
        </p>
    </div>

    <div class="tc-delivrables-section">
        <table class="table">
            <thead>
                <tr>
                    <th class="description">Deliverables</th>
                    <th class="cost">Unit Cost</th>
                    <th class="quantity">Quantity</th>
                        <th class="line-total">Line total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tc-deliverable  waiting" ng-repeat="deliverable in order.deliverables">
                    <td class="description">
                        <i class="icon-ok"></i>
                        {{deliverable.name}}
                    </td>    
                    
                    <td class="cost" ng-bind-html-unsafe="deliverable.cost|currencyfilter"></td>
                
                    <td class="quantity">
                        <input type="text" class="disabled"
                               ng-model="deliverable.quantity" 
                               size="2" readonly="" >
                    </td>     
                    
                    <td class="line-total" ng-bind-html-unsafe="deliverable.cost*deliverable.quantity|currencyfilter">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    

    <div class="tc-total-section">
        <div class="tc-total-label">
            Total cost
        </div>

        <div class="tc-total-lines">
            <div class="tc-line"></div>
            <div class="tc-line"></div>
        </div>

        <div class="tc-total tc-total-client" ng-bind-html-unsafe="order.total|currencyfilter"></div>

    </div> 
</div>