<div class="tc-order-edit tc-order-sheet tc-sheet" ng-controller="workspace.project.orders.OrderEditController" ng-form name="editOrderForm">
    <div class="tc-offer-section">
        <legend>Job Outcomes</legend>    
        <div class='tc-offer'>                        
            <textarea ng-required='true' name='order_offer' ng-model="order.offer" class="input-block-level"></textarea>
        </div>
    </div> 
    <div class="tc-delivrables-section">
        
        <table class="table">
            <thead>
                <tr>
                    <th class="description">Deliverables</th>
                    <th class="cost">Unit Cost</th>
                    <th class="quantity">Quantity</th>
                    <th class="line-total">Line total</th>
                    <th class="remove"></th>
                </tr>
            </thead>
            <tbody ng-form name="editDeliverablesForm">
                <tr class="tc-deliverable" ng-repeat="deliverable in order.deliverables" ng-form name="deliverableForm">
                    <td class="description">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-ok"></i></span>
                            
                            <div class="full">
                                <input type="text" class="input-block-level"
                                       name="name"
                                       ng-class="{valid:deliverableForm.name.$valid}"
                                       ng-required='true'
                                       ng-change="updateDeliverable(deliverable,'name')"
                                       ng-model="deliverable.name" />
                            </div>
                        </div>
                    </td>       
                    
                    <td class="cost">
                        <input type="text" name="cost"
                               tc-doubles-only=""
                               ng-model="deliverable.cost" 
                               ng-required="true"
                               ng-change="updateDeliverable(deliverable,'cost')"
                               size="2" >
                    </td>  

                    <td class="quantity">
                        <input type="text" name="quantity"
                               tc-numbers-only=""
                               ng-model="deliverable.quantity" 
                               ng-required="true"
                               ng-pattern="/^\d*$/"
                               ng-change="updateDeliverable(deliverable,'quantity')"                               
                               size="2" >
                    </td> 
                    
                    <td class="line-total" ng-bind-html-unsafe="deliverable.cost*deliverable.quantity|currencyfilter">
                    </td>
                    <td class="remove">
                        <button class="btn btn-danger"
                                ng-click="removeDeliverable(deliverable)">
                            <span class="icon-remove icon-white"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-form name='newDeliverableForm'>
                <tr class="tc-new-deliverable">
                    <td class="description">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-plus"></i></span>
                            <div class="full">
                                <input type="text" class="input-block-level"
                                       ng-model="newDeliverable.name">
                            </div>
                        </div>
                    </td>                       
                    <td class="cost">                            
                        <input type="text" ng-required="" 
                               tc-doubles-only=""
                               ng-pattern="/^\d*\.?\d{0,2}$/"
                               ng-model="newDeliverable.cost" 
                               size="2" >
                    </td>
                    <td class="quantity">

                        <input type="text"
                               tc-numbers-only=""
                               ng-disabled="true"
                               ng-required=""
                               ng-model="newDeliverable.quantity" 
                               size="2" >
                    </td> 
                    <td class="line-total">
                        <button class="btn btn-primary"
                                ng-click="addDeliverable()">Add</button>
                    </td>
                    <td class="remove">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="tc-total-section">
        <div class="tc-total-label">
            Total cost
        </div>

        <div class="tc-total-lines">
            <div class="tc-line"></div>
            <div class="tc-line"></div>
        </div>

        <div class="tc-total tc-total-client" ng-bind-html-unsafe="getOrderTotal()|currencyfilter"></div>

    </div>  
</div>