<div ng-switch="isLoading" 
     ng-animate="{enter:'fade-enter'}">
    <!-- Loading Order -->
    <div ng-switch-when="true" class="tc-detail-loading">   

        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>            

    </div>   

    <!-- Order Details -->
    <div ng-switch-when="false"> 

        <!-- Toolbar -->
        <ng-include src="'/app/views/project/orders/toolbar.html'"></ng-include>

        <div ng-switch="subview">

            <!-- Thread Section -->
            <div class="tc-thread-section" tc-order-thread
                 ng-controller="workspace.project.orders.ThreadController"
                 ng-switch-when="discussion"></div>

            <!-- Order Section -->
            <div class="tc-order-section"     
                 ng-switch-when="view" 
                 ng-switch="editMode">
                                
                <!--  READ View -->
                <ng-include ng-switch-when="false"                   
                    src="'/app/views/project/orders/order-read.html'"></ng-include>

                <!--  EDIT View -->
                <ng-include ng-switch-when="true"
                    src="'/app/views/project/orders/order-edit.html'"></ng-include>

            </div>
        </div>

    </div>
</div>
