<div class="tc-comments-section" 
     ng-controller="workspace.project.orders.ThreadController">

    <div class="tc-request-section"
         tc-talkbubble="order.request" 
         tc-talkbubble-date="order.created_at">
    </div>

    <div ng-repeat="comment in order.thread.comments"
         tc-talkbubble="comment.body" tc-talkbubble-date="comment.created_at">
    </div>
</div>
<div class="tc-new-comment-section">
    <form name="tcNewCommentForm" ng-submit="addComment()" novalidate="">
        <img class="pull-left media-object img-circle" 
             ng-src="{{workspace.user.avatar || '/images/user.png'}}" 
             width="64" height="64" />

        <div class="media-body">
            <textarea rows="3" ng-model="newComment.body" class="input-block-level"></textarea>
            <button type="submit" class="btn btn-small">
                Discuss
            </button>
        </div>
    </form>
</div>