<!-- Create Project Modal -->
<div id="tcPricebookItemCreatorModal" class="modal hide fade" 
     tabindex="-1" role="dialog" 
     aria-labelledby="tcPricebookItemCreatorModalLabel" aria-hidden="true">
    <form name="tcCreatePricebookItemForm" ng-submit="createItem()" novalidate="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="tcCreatePricebookItemModal">Creating Pricebook Item</h3>
        </div>
        <div class="modal-body">
            <div class="tc-create-pricebookItem-section tc-section"> 
                <label>Job name *</label>
                <input type="text"  ng-required="true" placeholder=""
                       class="input-block-level"
                       ng-model="newItem.name"/>
                
                <label>Job Description</label>
                <input type="text"  placeholder="" class="input-block-level"
                       ng-model="newItem.description"/>
                
                <label>Price</label>
                <input type="text"  placeholder="" class="input-mini"
                       ng-model="newItem.price"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <input type="submit" value="Create Job"
                   ng-disabled="tcCreatePricebookItemForm.$invalid" 
                   ng-hide="isSavingNewItem" 
                   class="btn btn-primary" />
            <span ng-show="isSavingNewItem" class="well-small">Saving ...</span>
        </div>
    </form>
</div>