<!-- Project Invite Modal -->
<div id="tcProjectInviteModal" class="modal hide fade" 
     tabindex="-1" role="dialog" aria-labelledby="tcProjectInviteModalLabel" aria-hidden="true">
    
        
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="tcProjectInviteModal">{{getHeaderLabel()}}</h3>
        </div>
        
        <div class="modal-body">
            
            <legend>
                Who would you like to invite? 
            </legend>
            
            <div class="tc-enroll-client-section tc-section">
                <tc-contact-typeahead 
                    source="workspace.contact_list.contacts" 
                    model="newEnrollment.email"
                    placeholder="E.g. john.doe@company.com"></tc-contact-typeahead>
            </div>
        </div>
        
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="button" class="btn btn-primary"
                    ng-click="sendEnrollment()" 
                    ng-disabled="tcProjectInviteForm.$invalid || sending" 
                    ng-show="!sending">
                Send Invite
            </button>
            <span ng-show="sending" class="well-small">Sending Invite ...</span>
        </div>
    
</div>