<!-- Create Project Modal -->
<div id="tcProjectWizardModal" class="modal hide fade" 
     tabindex="-1" role="dialog" 
     aria-labelledby="tcProjectWizardModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="tcProjectWizardModalLabel">Creating Project</h3>
    </div>
    <div class="modal-body">

        <ul id="project-wizard-tabs" class="nav nav-tabs">
            <li ng-class="{'active':isCurrentStep(1)}">
                <a ng-click="setCurrentStep(1)"
                   class="tab-informations">Informations (1/3)</a>
            </li>
            <li ng-class="{'active':isCurrentStep(2)}">
                <a ng-click="setCurrentStep(2)"
                   class="tab-people">People (2/3)</a>
            </li>
            <li ng-class="{'active':isCurrentStep(3)}">
                <a ng-click="setCurrentStep(3)"
                   class="tab-settings">Settings (3/3)</a>
            </li>
        </ul>

        <div class="tc-wizard tab-content" ng-switch="getCurrentStep()" ng-animate=" {enter: 'fade-enter'} ">

            <!-- Step 1 : Project informations -->
            <div ng-switch-when="step1">
                
                <fieldset>
                    <legend>Project informations:</legend>

                    <label for="project-title">
                        Project title<span class="mandatory">*</span>
                    </label>
                    <input ng-model="newProject.name" ng-required="true" type="text" class="input-xlarge" placeholder="Enter project title here"></label>

                    <label for="project-desc">
                        Project description
                    </label>
                    <textarea ng-model="newProject.description" class="input-block-level" placeholder="Write a brief description of your project..."></textarea>
                </fieldset>
                
            </div>

            <!-- Step 2 : Invite people to your project -->
            <div ng-switch-when="step2">
                
                    <fieldset>
                        <legend>My role in this projects:</legend>
                        
                            <label class="radio inline">
                                <input ng-model="newProject.is_vendor" 
                                       ng-value="true"
                                       ng-selected="true"
                                       name="is_vendor"
                                       type="radio">
                                I'm the vendor (offering my services)
                            </label>
                            
                            <label class="radio inline">
                                <input ng-model="newProject.is_vendor" 
                                       ng-value="false"
                                       name="is_vendor"
                                       type="radio">
                                I'm the client (buying services)
                            </label>                        
                    </fieldset>
                    
                    <fieldset>  
                        <legend>
                            I'm doing business with:<span class="mandatory">*</span>
                        </legend>
                        
                        <tc-contact-typeahead source="workspace.contact_list.contacts" model="newProject.contact_email" ></tc-contact-typeahead>

                        <label class="tc-notify-label checkbox inline">
                            <input ng-model="newProject.notify_contact" type="checkbox" class="tc-notify-checkbox">Check this box to notify him/her by email.
                        </label>
                    </fieldset> 
                    
                    
                    <fieldset>
                        <legend class="legend-top">Invite collaborators: <a href="#" class="learn-more">Learn more...</a></legend>
                        
                        <input type="text" ng-model="newProject.collaborator_emails[0]" placeholder="E.g. john.doe@company.com" /><br />
                        <input type="text" ng-model="newProject.collaborator_emails[1]" placeholder="" /><br />
                        <input type="text" ng-model="newProject.collaborator_emails[2]" placeholder="" /><br />
                       
                        
                        <!-- <a href="#" class="add-more">Invite more people...</a> -->
                    </fieldset>                
            </div>

            <!-- Step 3 : Set basic project settings -->
            <div ng-switch-when="step3">
                
                <legend class="legend">Open bill:</legend>
                <p>The open bill will be closing at the end of each:</p>
                
                <div class="tc-frequency">
                    <div class="tcfrequency-selector">
                        <select ng-model="newProject.bill_frequency">
                            <option value="week" ng-selected="true">Week</option>
                            <option value="2 weeks">2 weeks</option>
                            <option value="month">Month</option>
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="cancel" data-dismiss="modal">I've changed my mind</a>
        
        <button class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">
            Back
        </button>
        
        <button type="submit" class="btn btn-primary" ng-click="handleNext()">
            {{getNextLabel()}}
        </button>
    </div>
</div>