/*************************************************/
/*****   Section dashboard.html.twig   *****/
/*************************************************/

.dashboard {
        
    .tc-breadcrumb {

        .glyphicon {
            font-size: 30px;
            margin-right: 14px;
            color: #666;
        }

    }
    
}