//
// Modules/Relations_RFPS
// --------------------------------------------------

// Imports
// -------------------------


// Basic Elements
// -------------------------

//    Section Relation:rfps.html.twig 
// ---------------------------------

.relation-rfps{
    .tc-rfps-section{
        // Saved as a draft
        .tc-draft{
            .tc-draft-state a{
                @include tc-state-inprocess();
            }
        }
        
        .tc-draft-cancelled{
            .tc-draft-state a{
                @include tc-state-declined();
            }
        }
        
        // Save & Sent
        .tc-sent{
            .tc-sent-state a{
                @include tc-state-inprocess();
            }
        }
        
        .tc-sent-viewed{
            .tc-sent-state a{
                @include tc-state-active();
            }
        }
        
        .tc-sent-cancelled,
        .tc-sent-declined{
            .tc-sent-state a{
                @include tc-state-declined();
            }
        }
        
        // Closing
        .tc-closed{
            .tc-closed-state a{
                @include tc-state-active();
            }
        }
        
        .tc-closed-cancelled{
            .tc-closed-state a{
                @include tc-state-declined();
            }
        }
    }
}