// Section Relation:new.html.twig
// -------------------------

.tc-relations-section {
    
    & > h4 {
        margin: 30px 0 20px 0;
    }
    
    input[type='email'] {
        max-width: 350px;
        font-size: 14px;
    }
    
    .checkbox {
        margin: 20px 0 20px 21px;
        
        input {
            margin-top: 3px;
        }
    }
    
}


//Section Relation:menu.html.twig
// -------------------------

.tc-contact-section{
    text-align: left;
    margin: -5px 0 10px 0;
    
    .contact{
        padding-top: 10px;
        
        .avatar {
            margin: 0 0 10px 20px;
            display: inline-block;
            vertical-align: top;
            border-bottom: 5px solid #75d600;
            height: 39px;
            
            img{
                width:25px;
                height:25px;
                margin-bottom: 10px;
            }
        }
        
        .infos {
            display: inline-block;
            vertical-align: top;
            padding-left: 15px;
            
            .name{
                font-weight: bold;
                font-size: 14px;
                padding: 2px 0 5px 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 135px;
            }
            .role{
                font-style: italic;
                font-size: 11px;
                color: #777;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 135px;
            }  
        }
    }
}

.tc-menu-section {
    
    .nav-header {
        display: inline-block;
    }
    
    .settings {
        display: inline-block;
        margin-top: -5px;
        vertical-align: middle;
        margin-top: -10px;
    }
}

// Section Relation:index.html.twig
// -------------------------

.client-relations,
.vendor-relations{ 
    .tc-relations-people-col {
        position: fixed;
        top: 90px;
        left: 220px;
        bottom: 0;
        width: 350px;
        border-right: 1px solid $gray-border-color;
        background: $tc-background-light;
        
        .tc-relations-boxes{
            
            .people {
                position: relative;
                border-bottom: 1px solid $gray-border-color;
                
                .tc-relation-badge {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    display: none;
                }
                
                .tc-relation-active-badge {
                    background-color: $brand-success;
                }
                
                .avatar {
                    display: inline-block;
                    margin: 15px;
                }
                
                .caption {
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 20px;
                    
                    .name {
                        font-weight: bold;
                        font-size: $font-size-h4;
                        margin-bottom: 0;
                    }
                    
                    .headline {
                        color: $gray-light;
                        font-style: italic;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 220px;
                    }
                }
                
                .pro-title {
                    font-size: 14px;
                    color: #777;
                }
                
                .toolbar{
                    margin-top:20px;
                }
                
            }
            
            .people-not-selected:hover  {
                background: rgba(255,255,255,1);
                cursor: pointer;
            }
            
            .people-selected {
                background: #fff;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
                
                :after {
                    position: absolute;
                    background: #fff;
                    width: 1px;
                    content: '';
                    right: -1px;
                    top: 0;
                    bottom: 0;
                }
            }
            
            .add-more {
                width: 230px;
                height: 300px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -100px;
                margin-left: -115px;
                text-align: center;
                vertical-align: middle;
                
                > img {
                    margin-left: -15px;
                    padding-bottom: 20px;
                }
                
                > h4 {
                    @include mega-title();
                    font-size: 36px;
                    color: $gray-light;
                }
                
                > p {
                    color: $gray-light;
                    
                    > a {
                        font-weight: bold;
                    }
                }
                
            }
            
        }
    }
    .tc-relations-data-col {
        position: relative;
        margin: -20px -20px 30px 330px;
        
        h4 {
            margin-top: 20px;
        }
        
        .subtitles {
            color: $gray-light;
            margin: 20px 0;
        }
        
        .inline {
            display: inline-block;
        }
        
        .thumbnail {
            margin: 5px 0;
            
            .left-col {
                border-right: 1px dotted $gray-border-color;
                text-align: center;
            }
            
            .right-col {
                text-align: center;
            }
            
            .data-number {
                text-align: center;
                display: inline-block;
                
                h1 {
                    color: $gray;
                    margin-top: 24px;
                    font-size: 36px;
                }
                
                p {
                    font-size: 13px;
                    color: $gray-light;
                    display: inline-block;
                    vertical-align: top;
                    margin-top: -5px;
                    text-align: right;
                }
            }
            
            .spacing-20 {
                margin: 0 20px;
            }
            
            .data-btn {
                vertical-align: top;
                text-align: center;
                display: inline-block;
                margin: 35px 20px;
            }
            
        }
        
        .tc-chart {
            color: $gray-light;
            
            .color-legend, .color-gray, .color-blue {
                display: inline-block;
                vertical-align: top;
                margin: 20px 0;
            }
            
            .color-gray {
                margin: 5px 10px 0 40px;
            }
            
            .color-blue {
                margin: 5px 10px 0 40px;
            }
            
            .color-gray {
                width: 20px;
                height: 10px;
                background: rgba(220,220,220,0.5);
                border: 2px solid rgba(220,220,220,1);
            }
            
            .color-blue {
                width: 20px;
                height: 10px;
                background: rgba(66,139,202,0.5);
                border: 2px solid rgba(66,139,202,1);
            }
            
            .tc-chart-in {
                position: relative;
                width: 700px;
                left: 50%;
                margin-left: -350px;
                
                .tc-chart-dollar-sign {
                    position: absolute;
                    top: 1px;
                    left: -10px;
                    color: #ccc;
                    font-size: 12px;
                }
                
                .tc-chart-weeks {
                    position: absolute;
                    top: 200px;
                    right: 0px;
                    color: #ccc;
                    font-size: 12px;
                }
            }
            
        }
        
        .work-in-progress {
            
            .progress-lg {
                text-align: right;
                
                .progress-label {
                    text-align: right;
                    font-weight: bold;
                    padding-right: 10px;
                }
                
                .total-value {
                    text-align: right;
                    font-weight: bold;
                    padding-right: 9px;
                    color: #999999;
                    font-size: 12px;
                    padding-top: 2px;
                }
            }
            
            .tc-chart {
                position: relative;
                overflow: hidden;
                
                .tc-chart-in {
                    
                    .tc-chart-this-week-line {
                        position: absolute;
                        left: 364px;
                        margin-top: 8px;
                        width: 2px;
                        height: 169px;
                        background: $tc-brand-purple;
                    }
                    
                    .tc-chart-this-week-days {
                        color: $tc-brand-purple;
                        position: absolute;
                        left: 336px;
                        width: 60px;
                        margin-top: 179px;
                        font-size: 13px;
                    }
                }
            }
            
            .max-date {
                margin: 20px 0 0 0;
            }
        }
    }
}

// Section Relation:RFPS:show.html.twig
// -------------------------

.client-relations,
.vendor-relations{
    
    .tc-relation-rfps-section{
        
    }
    
}

// Section Relation:orders.html.twig
// -------------------------

.relation-orders{
    .user{
        width:30px;
    }
    
    .discussion,
    .cost{
        width:80px;
        text-align:center;
    }
    
    .tc-requests-section,
    .tc-suggestions-section,
    .tc-orders-section{
        
    }
    
    td.user{
        img{
            width:30px;
        }
    }
    
    td.request{
        font-weight: bold;
    }
}


//Section Relation:progress.html.twig
// -------------------------

.relation-progress{
    
    .tc-progress-section{
        
        .tc-progressbar-col{
            
            .tc-progress-choices{
                margin-bottom:10px;
                text-align: center;
                
                .tc-progress-choice{
                    cursor:pointer;
                    border:1px solid transparent;
                    background-color:  #f5f5f5;
                    color: #999999;
                    
                    &:hover{
                        border:1px solid #ccc;
                    }
                    
                    &.active{
                        background-color:#ccc;
                        color:#fff;
                    }
                }
            }
        }
        
        .tc-date-col{
            width:155px;
        }
        
        .datepicker-popup{
            left:inherit !important;
            right:50px;
        }
    }
}


// Section Relation:invoice.html.twig
// -------------------------

.relation-invoice{
    
    .tc-invoice-section{
        
    }
}


// Section Relation:invoices.html.twig
// -------------------------

.relation-invoices{
    
    .tc-invoices-section{
        
    }
}