/*************************************************/
/*****   Section root.html.twig   *****/
/*************************************************/

.root {
    .tc-toolbar {
        display: none;
    }
    
    .tc-user-section{
        padding:20px;
        text-align:center;
        
        & > img {
            margin-bottom : 10px;
        }
        
        & > .name{
            font-size:$font-size-large;
        }
    }
    
    .tc-sheet {
        margin-top: 20px;
    }
    
    .tc-over-section {
        text-align: center;
        
        .welcome {
            @include mega-title ();
            font-size: 120px;
            font-weight: 300;
        }
        
        .desc {
            margin-top: -10px;
            margin-bottom: 10px;
            font-style: italic;
            
            p {
                color: $gray-light;
            }
        }
        
        .client {
            display: inline-block;
            padding: 0 40px 30px 40px;
            margin-right: 5px;
            vertical-align: top;
            max-width: 400px;
            border-right: 1px dashed #dededf;
            
            .flat-img {
                margin: 10px auto 20px auto;
            }
            
            .provide {
                height: 50px;
                margin-top: 20px;
                margin-bottom: 10px;
                @include mega-title ();
                font-size: 40px;
            }
            
            p {
                padding-top: 10px;
            }
        }
        
        .vendor {
            display: inline-block;
            padding: 0 40px 30px 40px;
            margin-left: 5px;
            vertical-align: top;
            max-width: 400px;
            border-left: 1px dashed #dededf;
            
            .flat-img {
                margin: 10px auto 20px auto;
            }
            
            .provide {
                height: 50px;
                margin-top: 20px;
                margin-bottom: 10px;
                @include mega-title ();
                font-size: 40px;
            }
            
            p {
                padding-top: 10px;
            }
        }
        
        .logo {
            margin-top: 40px;
        }
    }
    
}
