//
// Modules/Thread
// --------------------------------------------------


// Imports
// -------------------------

// Overwriting Bootstrap Variables
// -------------------------

// TimeCrumbs' Variables
// -------------------------

$thread-width: 370px;
$comment-height: 140px;
$comments-font-size: 14px;

// Thread Elements
// -------------------------

.tc-side-thread-section{
    position:fixed;
    background: $gray-ultra-light;
    border-left: 1px solid $gray-border-color;
    top:90px;
    right:0;
    bottom: $comment-height;
    width: $thread-width - 20px;
    //border-top: 2px solid $shadow-borders;
    //border-bottom: 2px solid $shadow-borders;
    
    .enscroll-track{
        margin-top:2px;
    }
    
    .avatar {
        width: 32px;
        height: 32px;
    }
    
    .person {
        font-weight: bold;
        font-size: $comments-font-size;
        line-height: 0;
    }
    
    .date {
        font-size: 11px;
        color: $gray-light;
        margin-top: 3px;
        font-style: italic;
    }
}

#thread_scrollable_section{
    height:100%;
    overflow: auto;
    padding-right: 10px;
    padding-top:15px;
    width: $thread-width - 10px;
    padding: 15px 0 15px 15px;
    
    .empty-image {
        width: 230px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -140px;
        margin-left: -115px;
        text-align: center;
        vertical-align: middle;
        
        > h4 {
            @include mega-title();
            font-size: 36px;
            color: $gray-light;
        }
        
        > p {
            color: $gray-light;
        }
    }
}

.tc-comments-section {
    
    .media-body {
        padding-top: 10px;
        
        .media {
            margin-top: 5px;
            
            p {
                padding-bottom: 0;
                font-size: $comments-font-size;
                margin-bottom: 5px;
            }
        }
    }
}

.tc-discuss-section {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px;
    height: $comment-height;
    background: $gray-lighter;
    width: $thread-width - 10px;
    border-left: 1px solid $gray-border-color;
    border-top: 1px solid $gray-border-color;
    
    .submit_comment {
        text-align: right;
    }
    
    :after {
        content: "";
        border-top: 10px solid transparent;
        border-bottom: 0;
        border-right: 10px solid $gray-border-color;
        position: absolute;
        left: -1px;
        top: -10px;
    }
}