@import "../vendor/bootstrap/lib/_mixins";


.tc_user{
    height: 100%;
    width: 100%;
    font-family: Arial;
    
    form{
        margin-bottom: 0;
    }
    
    input[type='text'], input[type='password'] {
        font-size: 14px;
        margin-bottom: 25px;
    }
    
    .tc-sheet {
        padding: 0 50px;
    }
    
    .errors{
        position: relative;
        padding: 12px;
        margin: 0px auto;
        width: 300px;
        background: #fcfbe4;
        border:1px solid #dededf;
        margin-bottom:24px;
        margin-top: -12px;
        text-align: center;
        
        .error_line,
        p {
            color: #a72323;
            font-style: italic;
            font-size: 13px;
            line-height:18px;
        }
        
        .opps{
            font-size:12px;
            font-weight: bold;
            margin-bottom:5px;
        }
        .message{
        }
    }
    
    .form_row{
        .errors{
            margin:0;
            margin-top:-10px;
            text-align:left;
            border:0;
            background:none;
            width:auto;
            padding:0px;
        }
    }
    
    .logo{
        background: url(/img/logo_login.png) no-repeat;
        position: relative;
        width: 226px;
        height: 31px;
        margin: 0 auto;
        margin-top: 70px;
        margin-bottom: 50px;
        padding-right: 8px;
    }
    
    .wrapper{
        position: absolute;
        left: 50%;
        top: 50px;
        width:320px;
        margin-left: -160px;
        
        label {
            display: none;
        }
        
        .emailfield {
            margin-bottom: 25px;
        }
    }
    
    .gradient{
        background: url(/img/gradientLogin.gif) no-repeat;
        width: 725px;
        height: 725px;
        position: fixed;
        top: 0;
        left: 50%;
        margin-top: -362px;
        margin-left: -362px;
    }
    
    .well{
        background:#ffffff;
        
    }
    
    .remember_row {
        padding-top: 10px;
        margin-bottom: 30px;
        
        label {
            font-weight: normal;
            display: block;
        }
        
        input {
            margin-top: 2px;
        }
    }
    
    .submit_row{
        text-align: right;
        
        span {
            margin-right: 5px;
            font-size: 16px;
        }
    }
    
    .submit_login {
        position: absolute;
        right: 0;
        margin-top: -65px;
    }
    
    .more_links{    
        margin-top: 25px;
        padding: 30px 20px;
        height:40px;
        border-top: 1px dashed #dededf;
        
        a{
            font-size: 13px;
            margin-right: 12px;
        }
        a:hover{
            //color: #990000;
        }        
    }
}

.tc_user_confirmed,
.tc_user_check{
    .wrapper{
        width:400px;
        margin-left:-200px;
    }
    .message{
        padding-bottom:10px;
    }
    .fos_user_success{
        font-weight:bold;
        color: #990000;
    }
}

.tc_user_register{    
    .wrapper{
        width:350px;
        margin-right: -175px;
    }
}


.tc_user_login,
.tc_user_register,
.tc_user_check,
.tc_user_confirmed,
.tc_user_request {
    background: #f6f6f6;
}

/*******************************************************************/
/* Section Profile:edit.html.twig & Profile:edit_content.html.twig */
/*******************************************************************/

.profile_edit {
    
    .tc-sheet {
        
        legend {
            margin-bottom: 30px;
        }
        
        label {
            padding-bottom: 5px;
            color: #333;
        }
        
        .col2 {
            padding: 0 50px;
        }

    }
    
}

