{% extends '::skeleton.html.twig' %}

{% block body_class -%}{{ parent() }} client {% endblock %}

{% block menu %}
{% set mainMenu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:mainMenu',[],{'user':app.user}) %}
<div class="tc-menu-section">
    <div class="nav-header">MANAGEMENT</div>
    {{ knp_menu_render(mainMenu, {'currentClass':'active'}) }}
</div>
{% endblock%}