{% extends '::skeleton.html.twig' %}

{% block body_class -%}{{ parent() }} client {% endblock %}

{% block topbar %}
    
    {% embed 'TCCoreBundle::topbar_profile.html.twig' %}
        {% block topbar_profile_dropdown %}
            {{parent()}}
            <li><a href="{{path("vendor_dashboard")}}">Vendor mode</a></li>
        {% endblock %}
    {% endembed %}
                
{% endblock %}
    
{% block menu %}
{% set mainMenu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:mainMenu',[],{'user':app.user}) %}
<div class="tc-menu-section">
    <div class="nav-header">MANAGEMENT</div>
    {{ knp_menu_render(mainMenu, {'currentClass':'active'}) }}
</div>
{% endblock%}