/app/bootstrap.php.cache
/app/cache
/app/logs
/composer.lock
*.scssc
*.php~
/vendor
/web/cache
/web/img/users/*
!/web/img/users/user.png
/app/config/parameters.yml
/nbproject
/web/css/start_SASS.bat

/web/img/users/user.png
/app/var
