{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% block body_class -%}{{ parent() }} client-projects-soon {% endblock %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
</div>

<div class="tc-controls pull-right">
    <button class="disabled btn-primary btn">
        <i class="icon-projects"></i>
        Open a new project
    </button>
</div>
{% endblock %}

{% block sheet %}
<div class="tc-temporary-section">
    <h1 class="center-block text-center">Coming Soon ...</h1>
</div>
{% endblock %}
