{% block root %}
    <ul class="breadcrumb">        
        {%- for  child in item|breadcrumbs %}
            <li class="{{loop.last	?'active': 'previous' }}">
                <a href="{{child.uri}}">                    
                    {% if child.item.getExtra('icon_classes') is defined %}
                        <i class="{{ child.item.getExtra('icon_classes') }}"></i>
                    {% endif %}
                    {{child.label}}
                </a>            
            </li>
        {%- endfor %}
    </ul>
{% endblock %}