{% block root %}
    <ul class="breadcrumb">        
        {%- for  child in item|breadcrumbs %}
        <li class="{{loop.last	?'active': '' }}">
            <a href="{{child.uri}}">{{child.label|parse_icons}}</a>
            <span class="divider">/</span>
        </li>
        {%- endfor %}
    </ul>
{% endblock %}