{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% block body_class -%}{{ parent() }} client-dashboard{% endblock %}

{% block toolbar %}

<div class="tc-breadcrumb pull-left">
    <ul class="breadcrumb">
        <li class="active">    
            <a href="/app_dev.php/0/r/">
                <span class="glyphicon glyphicon-dashboard"></span> Dashboard
            </a>
        </li>    
    </ul>
</div>

{% endblock %}

{% block sheet%}

<div class="wrapper">

    <div class="left-column col-lg-6 col-md-6">

        <div class="tc-relationships">
            <legend>Service Providers in Your Relationships</legend>

            <div class="block col-lg-3 col-md-3">
                <h1>5</h1>
                <p>Active</p>
            </div>

            <div class="block col-lg-3 col-md-3">
                <h1>2</h1>
                <p>Inactive</p>
            </div>

            <div class="button-add col-lg-6 col-md-6">
                <a href="{{path('client_relation_new')}}" class="btn-primary btn-lg">
                    <span class="icon-add-user"></span>
                    Add a Person
                </a>
            </div>
        </div>

        <div class="tc-money">
            <legend>Total Flow of Monies</legend>



            <div class="chart-legend col-lg-5 col-md-5">
                <div class="item"><span class="badge spent">1000$</span> <span class="grey">Spent</span></div>
                <div class="item"><span class="badge wip">250$</span> <span class="grey">Work in Progress</span></div>
                <div class="item"><span class="badge ob">720$</span> <span class="grey">Open Bill</span></div>
            </div>

            <div class="chart col-lg-7 col-md-7">
                <canvas id="money-flow" width="200" height="200"></canvas>
            </div>
        </div>

    </div>

    <div class="right-column col-lg-6 col-md-6">

        <div class="tc-activities">
            <legend>Latest Activities</legend>
            <ul class="media-list">
                <li class="media">
                    <a href="#">
                        <div class="pull-left media-object btn-primary img-circle"><span class="icon-add-discussion-white-lg"></span></div>
                        <div class="media-body">
                            <h4 class="media-heading">Francis Poirier <span>just added a new comment in the proposal </span></h4> <p>"New Responsive Wordpress Website" <span class="date">on 2013-11-15</span></p>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="pull-left media-object btn-primary img-circle"><span class="icon-add-discussion-white-lg"></span></div>
                        <div class="media-body">
                            <h4 class="media-heading">Francis Poirier <span>just added a new comment in the proposal </span></h4> <p>"New Responsive Wordpress Website" <span class="date">on 2013-11-15</span></p>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="pull-left media-object btn-primary img-circle"><span class="icon-add-discussion-white-lg"></span></div>
                        <div class="media-body">
                            <h4 class="media-heading">Francis Poirier <span>just added a new comment in the proposal </span></h4> <p>"New Responsive Wordpress Website" <span class="date">on 2013-11-15</span></p>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="pull-left media-object btn-primary img-circle"><span class="icon-add-discussion-white-lg"></span></div>
                        <div class="media-body">
                            <h4 class="media-heading">Francis Poirier <span>just added a new comment in the proposal </span></h4> <p>"New Responsive Wordpress Website" <span class="date">on 2013-11-15</span></p>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="pull-left media-object btn-primary img-circle"><span class="icon-add-discussion-white-lg"></span></div>
                        <div class="media-body">
                            <h4 class="media-heading">Francis Poirier <span>just added a new comment in the proposal </span></h4> <p>"New Responsive Wordpress Website" <span class="date">on 2013-11-15</span></p>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="pull-left media-object btn-primary img-circle"><span class="icon-add-discussion-white-lg"></span></div>
                        <div class="media-body">
                            <h4 class="media-heading">Francis Poirier <span>just added a new comment in the proposal </span></h4> <p>"New Responsive Wordpress Website" <span class="date">on 2013-11-15</span></p>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="pull-left media-object btn-primary img-circle"><span class="icon-add-discussion-white-lg"></span></div>
                        <div class="media-body">
                            <h4 class="media-heading">Francis Poirier <span>just added a new comment in the proposal </span></h4> <p>"New Responsive Wordpress Website" <span class="date">on 2013-11-15</span></p>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="pull-left media-object btn-primary img-circle"><span class="icon-add-discussion-white-lg"></span></div>
                        <div class="media-body">
                            <h4 class="media-heading">Francis Poirier <span>just added a new comment in the proposal </span></h4> <p>"New Responsive Wordpress Website" <span class="date">on 2013-11-15</span></p>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="pull-left media-object btn-primary img-circle"><span class="icon-add-discussion-white-lg"></span></div>
                        <div class="media-body">
                            <h4 class="media-heading">Francis Poirier <span>just added a new comment in the proposal </span></h4> <p>"New Responsive Wordpress Website" <span class="date">on 2013-11-15</span></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>






</div>


{% endblock %}

{% block bottom_js %}
    {{parent()}}
<script src="{{asset('/vendor/chart-js/Chart.min.js')}}" type="text/javascript"></script>

<script type="text/javascript">
    
    $(document).ready(function(){

    //Get context with jQuery - using jQuery's .get() method.
    var ctx1 = $("#money-flow").get(0).getContext("2d");
    
    var data1 = [
        {
                value: 30,
                color:"#428bca"
        },
        {
                value : 50,
                color : "#5cb85c"
        },
        {
                value : 100,
                color : "#0C04E8"
        }
        ]
        
        var options = {
        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke : true,
	
        //String - The colour of each segment stroke
        segmentStrokeColor : "#fff",
	
        //Number - The width of each segment stroke
        segmentStrokeWidth : 2,
	
        //Boolean - Whether we should animate the chart	
        animation : true,
	
        //Number - Amount of animation steps
        animationSteps : 100,
	
        //String - Animation easing effect
        animationEasing : "easeOutQuart",
	
        //Boolean - Whether we animate the rotation of the Pie
        animateRotate : true,

        //Boolean - Whether we animate scaling the Pie from the centre
        animateScale : false,
	
        //Function - Will fire on animation completion.
        onAnimationComplete : null
}

        new Chart(ctx1).Doughnut(data1,options);
    
    });

    </script>

{% endblock %}