{% block empty_relations_client %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="/img/flat-imgs/flat-relationship.gif" /></div>
    <div class="title"><h3>No service providers yet</h3></div>
    <div class="description"><p>Please add your first service provider by clicking <a href="{{path('client_relation_new')}}">+ Add New</a>.</p></div>
</div>

{% endblock %}

{% block empty_relations_vendor %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="/img/flat-imgs/flat-relationship.gif" /></div>
    <div class="title"><h3>No customer yet</h3></div>
    <div class="description"><p>Please add your first customer by clicking <a href="{{path('vendor_relation_new')}}">+ Add New</a>.</p></div>
</div>

{% endblock %}