{% extends '::skeleton.html.twig' %}

{% block body_class %} {{parent()}} root {% endblock %}

{% block sheet %}
<div class="tc-over-section">
    <div class="center">
        <div class="welcome">
            Welcome
        </div>
        <div class="row">
        <div class="desc col-md-10 col-md-offset-1">
            <p>TimeCrumbs allows you to benefit from both sides of the application. You can hire people AND/OR offer your services to your customers. At all time, you can switch back to this menu by clicking on the TimeCrumbs' logo located in the sidebar. Please choose the side you'd like to begin with.</p>
        </div>
        </div>
        <div class="client">
            <div class="flat-img">
            <img src="/img/flat-imgs/flat-hire.gif" />
            </div>
            <div class="provide">I Hire</div>
            <p>I would like to create a request for proposal and would like to invite multiple services providers to work on my projects.</p>
            <a href="{{path('client_dashboard')}}" class="btn btn-lg btn-primary">Get Started</a>
        </div>
        <div class="vendor">
            <div class="flat-img">
            <img src="/img/flat-imgs/flat-work.gif" />
            </div>
            <div class="provide">I Work</div>
            <p>I would like to create proposals, detailed report about my work and beautiful invoices for my clients.</p>
            <a href="{{path('vendor_dashboard')}}" class="btn btn-lg btn-primary">Get Started</a>
        </div> 
    </div>
</div>

{% endblock %}