{% extends '::skeleton.html.twig' %}

{% block body_class %} {{parent()}} root {% endblock %}

{% block sheet %}
<div class="tc-over-section">
    <div class="center">
        <div class="welcome">
            Welcome
        </div>
        <div class="row">
        <div class="desc col-md-10 col-md-offset-1">
            <p>TimeCrumbs allows you, with a single account, to hire vendors AND/OR to work as a vendor. At all time, you can come back to this menu by clicking on the TimeCrumbs' logo located at the bottom of the left pane.</p>
        </div>
        </div>
        <div class="client">
            <div class="flat-img">
            <img src="/img/flat-imgs/flat-hire.gif" />
            </div>
            <div class="provide">I Hire Vendors</div>
            <p>I would like to create a requests for proposals and invite service providers to work on my projects.</p>
            <a href="{{path('client_dashboard')}}" class="btn btn-lg btn-primary">Get Started</a>
        </div>
        <div class="vendor">
            <div class="flat-img">
            <img src="/img/flat-imgs/flat-work.gif" />
            </div>
            <div class="provide">I'm a Vendor</div>
            <p>I would like to create proposals, detailed reports about my progress and beautiful invoices.</p>
            <a href="{{path('vendor_dashboard')}}" class="btn btn-lg btn-primary">Get Started</a>
        </div> 
    </div>
</div>

{% endblock %}