{%block subject%}{%endblock%}
<table bgcolor="#fafafa" width="620" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #dededf;">
    <tr>
        <td width="30">&nbsp;</td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="75" height="75" align="center" valign="middle" bgcolor="#fff" style="border: 1px solid #dededf; border-top: none;"><img src="{{ app.request.uriForPath('/../img/email/clock.png')}}" border="0" /></td>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="20">&nbsp;</td>
                                <td><span style="font-family:Arial;font-weight:bold;font-size: 24px;">{%block title%}{%endblock%}</span><br />
                                    <span style="font-family:Arial;font-weight:bold;color: #5c7c93; font-size: 14px;">
                                    {% block sub_title %}
                                            by {{(app.user) ? app.user.fullName : "someone"}} on {{"now"|date('M jS')}}
                                     {% endblock %}       
                                    </span></td>
                            </tr>
                        </table></td>
                </tr>
                <tr>
                    <td height="25"></td>
                    <td></td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #dededf; ">
                            <tr>
                                <td width="20" height="20"></td>
                                <td></td>
                                <td width="20"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="font-family:Arial;font-size: 14px;">
                                        {% block body_html %}{% endblock %}
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                    <td></td>
                                    <td></td>
                                </tr>            
                            </table></td>
                    </tr>
                    <tr>
                    <tr>
                        <td height="25"></td>
                    </tr>
                    <tr>
                        <td>
                            {%block view_button %} {%endblock%}
                            <!--<table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="20" >&nbsp;</td>
                                    <td width="280"><span style="font-family:Arial;color: #5c7c93;font-size:12px"><!--If you want to stop receiving notification emails, please visit <a href="#" style="color: #097acb; font-weight: bold; text-decoration: none;">notification settings page</a>.</span></td>
                                    <td align="right"></td>
                                </tr>
                            </table>-->

                        </td>
                    </tr>
                    <tr>
                        <td height="25"></td>
                    </tr>
                </table></td>
            <td width="30">&nbsp;</td>
        </tr>
    </table>
    <table width="620" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" height="30" valign="bottom"><span style="color: #aaaaaa; font-size: 12px; font-family: Arial;">This message was send via <a href="http://www.timecrumbs.com/" target="_blank" style="color: #097acb; text-decoration: none;">TimeCrumbs.com</a> – A simple time relation management tool.</span></td>
        </tr>
    </table>