{% extends '::skeleton.html.twig' %}

{% block body_class -%}{{ parent() }} vendor {% endblock %}

{% block global_dropdown %}
    {{parent()}}
    <li><a href="{{path("client_dashboard")}}">Client mode</a></li>
{% endblock %}

{% block menu %}
{% set mainMenu = knp_menu_get('TCCoreBundle:VendorMenuBuilder:mainMenu',[],{'user':app.user}) %}
<div class="tc-menu-section">
    <div class="nav-header">MANAGEMENT</div>
    {{ knp_menu_render(mainMenu,{'depth' : 1}) }}
</div>
{% endblock%}