{% block menu %}
<div class="tc-return-section">
    <ul class="tc-menu nav">
        <li>
            <a href="{{path('client_dashboard')}}">
                <i class="glyphicon glyphicon-arrow-left glyphicon-white"></i>
                <span class="dashboard">Go Back</span>
            </a>
        </li>
    </ul>
</div>

<div class="tc-contact-section">
    {# <div class="nav-header">Your Client</div> #}
    <div class="contact">
        <div class="avatar">
            <img src="{{vich_uploader_asset(relation.vendor.user, 'avatar') | imagine_filter('80_thumb')}}">
        </div>
        <div class="infos">
            <div class="name">{{relation.vendor.getFullName() | default(relation.vendor)}}</div>
            <div class="role">Service provider</div>
        </div>
    </div>
</div>

{% set relationMenu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:relationMenu',[],{'relation':relation, 'user':app.user}) %}
<div class="tc-menu-section">
    <div class="nav-header">Work Activities</div>
    <div class="settings"><i class="icon-settings"></i></div>
    
    {{ knp_menu_render(relationMenu) }}

</div>
{% endblock%}
