//
// Components/edit-block-text
// --------------------------------------------------

// Variables 
// -------------------------

// Imports 
// -------------------------

// Basic Elements 
// -------------------------

// Simple Block – Title + Text

    
.tc-placeholder-block{
    background-color: $gray-ultra-light;
    border-radius: 4px;
    border: 1px dashed $gray-border-color;
    padding: 20px 20px 20px 50px;
    margin: 20px 0 20px -30px;
    height:147px;
}
    
.tc-block-edit{
    background:#ffffff;
    border: 1px dashed #dededf;
    padding: 20px 20px 20px 50px;
    margin: 20px 0 20px -30px;
    position: relative;
    
    &:before {
        display: block;
        content: ".";
        color: transparent;
        font-size: 0;
        border-right: 4px solid #0a6895;
        background:white;
        position: absolute;
        left: -1px;
        top: -1px;
        bottom: -1px;
        width:34px;
        padding: 1px 0;
    }
    
    .tc-drag-block,
    .tc-delete-block {
        position: absolute;
        display:none;
        top: 10px;
        border: 1px dashed $gray-border-color;
        text-align: center;
        background: white;
    }
    
    &:hover .tc-drag-block,
    &:hover .tc-delete-block {        
        display: table-cell;
    }
    
    .tc-drag-block{
        left:-1px;
        border-right: 1px solid transparent;  
        cursor:ns-resize;
        border-radius: 4px 0 0 4px;
        width:30px;
        padding: 5px 0;
    }
    
    .tc-delete-block{
        right:-30px;
        border-left: 1px solid #fff;
        border-radius: 0 4px 4px 0;
        padding: 2px 0;
                
        >button {
            color: $gray-light; 
        }
        
        >button:hover {
            color: $red-dark;
        }
    } 
}

.tc-block-title{
    font-size:20px;
    height:40px;
    color: #0a6895;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dededf;
    padding: 0 0 8px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.tc-body-group {
    margin-bottom: 0;
    
    .tc-block-body{ 
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        border: none;
        padding: 0;
        height: auto;
        font-size: $font-size-base;
    }
}