{% extends "TCCoreBundle::skeleton_email.html.twig" %}

{% block subject %}
{% autoescape false %}
TimeCrumbs - Cancellation of a Proposal
{% endautoescape %}
{% endblock %}

{% block title %}
{% autoescape false %}
A Proposal has been cancelled
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% if cancellation is not empty %}
    Your service provider's message :<br />
    {{ cancellation.why }} <br />
    {{ cancellation.other }} 
{% endif %}
{% endblock %}

{% block view_button %}
<a href="{{url('client_relation_orders', {'idRelation':relation.id})}}" 
   style="color: #097acb; text-decoration: none; font-size: 24px;">
    View RFPs
</a>
{% endblock %}