{% extends "TCCoreBundle::skeleton_email.html.twig" %}

{% block subject %}
{% autoescape false %}
TimeCrumbs - Refusal of an Order
{% endautoescape %}
{% endblock %}

{% block title %}
{% autoescape false %}
A Order has been refused
{% endautoescape %}
{% endblock %}

{% block body_html %}

{% if refusal is not empty %}
    Your client's message :<br />
    {{ refusal.why }} <br />
    {{ refusal.other }} 
{% endif %}
    
{% endblock %}

{% block view_button %}
<a href="{{url('vendor_relation_orders', {'idRelation':relation.id})}}" 
   style="color: #097acb; text-decoration: none; font-size: 24px;">
    View Orders
</a>
{% endblock %}