
{% block body_class %} relation-bill  {% endblock %}


{% block sheet %}
<div class="tc-bill-section">

    <table  class="tc-bill table">
        <thead>
            <tr>
                <th class="actions"></th>
                <th class="description">Description</th>
                <th class="cost">Unit price</th>
                <th class="quantity">Qty</th>
                <th class="subtotal">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <!--{% for deliverable in relation.openBill.deliverables() %}
                <tr class="work" >
                    <td class="actions">
                        <div class="btn-group">
                            <button class="btn-small btn dropdown-toggle" data-toggle="dropdown">                            
                              <span class="icon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action 1</a></li>
                                <li><a href="#">Action 2</a></li>
                            </ul>
                        </div>
                    </td>
                    <td class="description">
                    {{deliverable.name}}
                    </td>
                    <td class="cost">
                        $ {{deliverable.cost|number_format(2, '.', ',')}}
                    </td>
                    <td class="quantity">
                    {{deliverable.quantity}}
                    </td>
                    <td class="subtotal">
                        $ {{(deliverable.quantity*deliverable.cost)|number_format(2, '.', ',')}}
                    </td>
                    
                </tr>
            {% endfor %}-->
            <tr>
                <td class="actions-col center">
                    <div class="checkbox-item">
                        <input type="checkbox" value="None" checked id="checkbox-item1" name="check" />
                        <label for="checkbox-item1"></label>
                    </div>
                </td>
                <td class="description left">
                    <div class="title"><a href="#">Anti-Corruption's course</a></div>
                    <div class="proposal">Export of 16 e-Learning Courses</div>
                    <div class="purchased"><b>Completed</b> on September 15th 2013</div>
                </td>
                <td class="cost center">
                    $ 42.50
                </td>
                <td class="quantity center">
                    1
                </td>
                <td class="subtotal center">
                    $ 42.50
                </td>
            </tr>
        
        </tbody>
        
        <tfoot>
            <tr><td colspan="2" class="no-border"></td><td colspan="3" class="border-bottom line1"></td></tr>
            <tr><td colspan="2" class="no-border"></td><td colspan="3" class="border-bottom line2"></td></tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="3" class="total-price"><div class="label">Total : </div><div class="price">$ 42.50</div></td>
            </tr>
        </tfoot>
    </table>
</div> 
{% endblock %}
