
{% block body_class %} relation-bill  {% endblock %}


{% block sheet %}
<div class="tc-bill-section">

    <table  class="table tc-table">
        <thead>
            <tr>
                <th></th>
                <th class="left">Description</th>
                <th>Unit price</th>
                <th>Qty</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <!--{% for deliverable in relation.openBill.deliverables() %}
                <tr class="work" >
                    <td class="actions">
                        <div class="btn-group">
                            <button class="btn-small btn dropdown-toggle" data-toggle="dropdown">                            
                              <span class="icon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action 1</a></li>
                                <li><a href="#">Action 2</a></li>
                            </ul>
                        </div>
                    </td>
                    <td class="description">
                    {{deliverable.name}}
                    </td>
                    <td class="cost">
                        $ {{deliverable.cost|number_format(2, '.', ',')}}
                    </td>
                    <td class="quantity">
                    {{deliverable.quantity}}
                    </td>
                    <td class="subtotal">
                        $ {{(deliverable.quantity*deliverable.cost)|number_format(2, '.', ',')}}
                    </td>
                    
                </tr>
            {% endfor %}-->
            <tr>
                <td class="tc-actions-col">
                    <div class="checkbox-item">
                        <input type="checkbox" value="None" checked id="checkbox-item1" name="check" />
                        <label for="checkbox-item1"></label>
                    </div>
                </td>
                <td class="tc-description-col">
                    <div class="title"><a href="#">Anti-Corruption's course</a></div>
                    <div class="main-description">Export of 16 e-Learning Courses</div>
                    <div class="sub-description"><b>Completed</b> on September 15th 2013</div>
                </td>
                <td class="tc-info-col tc-unitprice-col">
                    $ 42.50
                </td>
                <td class="tc-info-col tc-quantity-col">
                    1
                </td>
                <td class="tc-info-col tc-subtotal-col">
                    $ 42.50
                </td>
            </tr>
        
        </tbody>
    </table>
    
    <div class="tc-total-price">
        <div class="split"></div>
        <div class="split"></div>
        <div class="total-label">Total : </div>
        <div class="price">$ 42.50</div>
    </div>
</div> 
{% endblock %}
