{% block body_class %} order-discuss  {% endblock %}

{% use 'TCCoreBundle:Thread:full.html.twig' %}

{% block main_attrs %} 
{{ block('thread_main_attrs') }}
{% endblock %}

{% block sheet %}
{% set thread = order.thread %}
<div class="tc-title-section">
    <h2>Work Order discussion</h2>
</div>


{{ block('thread_section') }}

{% endblock %} 


{% block bottom_js %}
{{block('thread_bottom_js')}}
{% endblock %}