@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  font: 14px Helvetica, Arial, sans-serif; }

a {
  color: #1b85b2;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

p {
  font-size: 14px;
  padding-bottom: 20px; }

ul {
  margin: 0; }

form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

input[type='email'] {
  font-size: 14px; }

legend {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  margin: 60px 0 10px 0; }
  legend .badge {
    vertical-align: middle; }
  legend span {
    vertical-align: middle;
    font-size: 14px;
    color: #999;
    padding-left: 5px; }

.table > thead > tr > th {
  border-bottom: 1px solid #dededf; }

.spacer {
  width: 100%;
  height: 1px;
  background: #dededf;
  margin: 30px 0; }

.tc-panel {
  overflow-y: auto; }

.tc-menu-panel {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 220px;
  vertical-align: top;
  color: #fff;
  background: #202022;
  box-shadow: -5px 0px 5px -5px #222222 inset;
  overflow-y: hidden; }
  .tc-menu-panel .tc-menu i {
    width: 20px;
    color: #C1C5C8; }
  .tc-menu-panel .tc-menu li a {
    font-size: 14px;
    color: #FFF;
    text-shadow: none;
    display: block;
    padding: 15px 0 15px 25px; }
  .tc-menu-panel .tc-menu li a:hover {
    text-decoration: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.75);
    border-left: 4px solid #777;
    box-shadow: 0px 3px 3px -3px #222222 inset, 0px -3px 3px -3px #222222 inset;
    padding-left: 21px; }
  .tc-menu-panel .tc-menu li .sub_label {
    display: block;
    font-size: 11px;
    color: #777;
    padding: 5px 30px 0 0; }
  .tc-menu-panel .tc-menu .active {
    border-left: 4px solid #75d600;
    background: rgba(0, 0, 0, 0.75); }
    .tc-menu-panel .tc-menu .active a, .tc-menu-panel .tc-menu .active a:hover {
      margin-left: -4px;
      color: #FFF; }
  .tc-menu-panel .tc-menu-heading {
    top: 0;
    background: rgba(0, 0, 0, 0.2); }
    .tc-menu-panel .tc-menu-heading .account {
      margin-left: 20px; }
      .tc-menu-panel .tc-menu-heading .account .alerts {
        display: inline-block;
        padding-right: 20px;
        display: none; }
        .tc-menu-panel .tc-menu-heading .account .alerts .badge {
          background-color: #74d600;
          margin-left: 5px; }
      .tc-menu-panel .tc-menu-heading .account .dropdown {
        text-align: left;
        padding: 20px 0;
        display: inline-block; }
        .tc-menu-panel .tc-menu-heading .account .dropdown .caret {
          border-top-color: #FFF;
          display: inline-block;
          vertical-align: top;
          margin: 2px 0 0 10px;
          vertical-align: middle; }
        .tc-menu-panel .tc-menu-heading .account .dropdown .name {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 120px;
          display: inline-block;
          vertical-align: middle;
          padding-left: 10px; }
        .tc-menu-panel .tc-menu-heading .account .dropdown a {
          color: #fff;
          font-size: 14px;
          font-weight: bold; }
        .tc-menu-panel .tc-menu-heading .account .dropdown .dropdown-menu a {
          color: #000;
          font-weight: normal; }
    .tc-menu-panel .tc-menu-heading .tc-logo {
      padding: 25px 0 0 44px;
      position: absolute;
      bottom: 40px; }
  .tc-menu-panel .tc-return-section ul {
    margin: 5px 0; }
  .tc-menu-panel .tc-return-section i {
    margin-top: 1px; }
  .tc-menu-panel .nav-header {
    display: block;
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
    text-shadow: none;
    text-transform: uppercase;
    color: #b1b4b7;
    text-shadow: 1px 1px 2px #232729;
    margin: 10px 0 5px 0;
    padding: 3px 20px; }
    .tc-menu-panel .nav-header a, .tc-menu-panel .nav-header a:hover {
      color: #b1b4b7; }
      .tc-menu-panel .nav-header a i, .tc-menu-panel .nav-header a:hover i {
        margin-right: 5px; }

.tc-main-panel {
  position: absolute;
  top: 0px;
  left: 220px;
  right: 0; }
  .tc-main-panel .tc-toolbar {
    height: 90px;
    position: fixed;
    right: 0;
    left: 220px;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100; }
    .tc-main-panel .tc-toolbar .tc-breadcrumb {
      color: #333;
      font-weight: 200;
      font-size: 24px; }
      .tc-main-panel .tc-toolbar .tc-breadcrumb .breadcrumb {
        background: none;
        padding: 20px 50px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        color: #333; }
        .tc-main-panel .tc-toolbar .tc-breadcrumb .breadcrumb img {
          margin-top: -3px; }
        .tc-main-panel .tc-toolbar .tc-breadcrumb .breadcrumb .previous .icon-relations-dark-large {
          margin: 10px 20px 0 0; }
        .tc-main-panel .tc-toolbar .tc-breadcrumb .breadcrumb .previous a {
          font-size: 30px;
          color: #999; }
        .tc-main-panel .tc-toolbar .tc-breadcrumb .breadcrumb .previous a:hover {
          color: #333; }
        .tc-main-panel .tc-toolbar .tc-breadcrumb .breadcrumb .active {
          font-size: 40px;
          color: #333; }
          .tc-main-panel .tc-toolbar .tc-breadcrumb .breadcrumb .active a {
            cursor: default;
            color: #333; }
          .tc-main-panel .tc-toolbar .tc-breadcrumb .breadcrumb .active .icon-relations-dark-large {
            margin: 18px 14px 0 0; }
        .tc-main-panel .tc-toolbar .tc-breadcrumb .breadcrumb .active:before {
          font-size: 30px;
          padding: 0 10px; }
    .tc-main-panel .tc-toolbar .tc-controls {
      margin: 37px 50px; }
      .tc-main-panel .tc-toolbar .tc-controls span {
        font-size: 16px; }

.tc-full-panel {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  display: inline-block;
  vertical-align: top; }

.tc-sheet {
  margin-top: 110px; }
  .tc-sheet > [class*="-section"], .tc-sheet > [class$="-section"] {
    padding: 0 50px; }
  .tc-sheet .tc-full-section {
    padding: 0; }
  .tc-sheet .tc-title-section {
    text-align: center;
    margin: 20px 0; }
    .tc-sheet .tc-title-section p {
      font-style: italic;
      color: #ccc;
      margin-top: -10px;
      font-size: 12px; }

.tc-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70); }

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat; }

.icon-dashboard {
  width: 13px;
  height: 18px;
  background: url("/img/icons/icon-dashboard.png");
  background-repeat: no-repeat;
  margin: -2px 3px 0 0; }

.icon-projects {
  width: 17px;
  height: 18px;
  background: url("/img/icons/icon-projects.png");
  background-repeat: no-repeat;
  margin: -2px 3px 0 0; }

.icon-discussion.icon-white {
  background: url("/img/icons/icon-projects-white.png"); }

.icon-relations {
  width: 19px;
  height: 14px;
  background: url("/img/icons/icon-relations-light-small.png");
  background-repeat: no-repeat;
  margin: 0px 3px 0 0; }

.icon-relations-dark-large {
  width: 29px;
  height: 22px;
  background: url("/img/icons/icon-relations-dark-large.png");
  background-repeat: no-repeat; }

.icon-agreement {
  width: 13px;
  height: 18px;
  background: url("/img/icons/icon-agreement.png");
  background-repeat: no-repeat;
  margin: 3px 3px 0 0; }

.icon-rfp-light {
  width: 16px;
  height: 17px;
  background: url("/img/icons/icon-rfp-light-small.png");
  background-repeat: no-repeat;
  margin: -2px 3px 0 0; }

.icon-orders {
  width: 20px;
  height: 17px;
  background: url("/img/icons/icon-proposals-light-small.png");
  background-repeat: no-repeat;
  margin: -2px 3px 0 0; }

.icon-new-proposals-light-small {
  width: 23px;
  height: 17px;
  background: url("/img/icons/icon-new-proposals-light-small.png");
  background-repeat: no-repeat;
  margin: 2px 5px 0 0; }

.icon-orders-dark {
  width: 29px;
  height: 25px;
  background: url("/img/icons/icon-proposals-dark-large.png");
  background-repeat: no-repeat;
  margin: 18px 5px 0 0; }

.icon-monitoring {
  width: 19px;
  height: 16px;
  background: url("/img/icons/icon-monitoring-light-small.png");
  background-repeat: no-repeat;
  margin: 0 3px 0 0; }

.icon-bill {
  width: 16px;
  height: 18px;
  background: url("/img/icons/icon-bill.png");
  background-repeat: no-repeat;
  margin: -3px 3px 0 0; }

.icon-invoice {
  width: 18px;
  height: 18px;
  background: url("/img/icons/icon-invoice.png");
  background-repeat: no-repeat;
  margin: -3px 3px 0 0; }

.icon-settings {
  width: 20px;
  height: 18px;
  background: url("/img/icons/icon-settings.png");
  background-repeat: no-repeat;
  margin: 3px 3px 0 0; }

.icon-discussion {
  width: 13px;
  height: 10px;
  background: url("/img/icons/icon-discussion.png");
  background-repeat: no-repeat;
  margin: 3px 3px 0 0; }

.icon-discussion.icon-white {
  background: url("/img/icons/icon-discussion-white.png"); }

.badge-talk-bubble {
  width: 34px;
  height: 28px;
  background: url("/img/icons/icon-talk-bubble.jpg");
  margin: 3px 3px 0 0;
  color: #fff; }

.icon-add-user {
  width: 24px;
  height: 17px;
  background: url("/img/icons/icon-add-user.png");
  background-repeat: no-repeat;
  margin: 2px 5px 0 0; }

.icon-check-small {
  width: 13px;
  height: 11px;
  background: url("/img/icons/icon-check-small.png");
  background-repeat: no-repeat;
  margin: 2px 5px 0 0; }

/*************************************************/
/*****   Section Relation:new.html.twig   *****/
/*************************************************/
.tc-relations-section h4 {
  margin: 30px 0 20px 0; }
.tc-relations-section input[type='email'] {
  max-width: 350px;
  font-size: 14px; }
.tc-relations-section .checkbox {
  margin: 20px 0 20px 21px; }
  .tc-relations-section .checkbox input {
    margin-top: 3px; }

/*************************************************/
/*****   Section Relation:menu.html.twig   *****/
/*************************************************/
.tc-return-section {
  margin-top: 10px; }

.tc-contact-section {
  text-align: left;
  margin: -5px 0 10px 0; }
  .tc-contact-section .contact {
    padding-top: 10px; }
    .tc-contact-section .contact .avatar {
      margin: 0 0 10px 20px;
      display: inline-block;
      vertical-align: top;
      border-bottom: 5px solid #75d600;
      height: 39px; }
      .tc-contact-section .contact .avatar img {
        width: 25px;
        height: 25px;
        margin-bottom: 10px; }
    .tc-contact-section .contact .infos {
      display: inline-block;
      vertical-align: top;
      padding-left: 15px; }
      .tc-contact-section .contact .infos .name {
        font-weight: bold;
        font-size: 14px;
        padding: 2px 0 5px 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 135px; }
      .tc-contact-section .contact .infos .role {
        font-style: italic;
        font-size: 11px;
        color: #777;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 135px; }

.tc-menu-section .nav-header {
  display: inline-block; }
.tc-menu-section .settings {
  display: inline-block;
  margin-top: -5px;
  vertical-align: middle;
  margin-top: -10px; }

/*************************************************/
/*****   Section Relation:index.html.twig   *****/
/*************************************************/
.client-relations .tc-relations-boxes,
.vendor-relations .tc-relations-boxes {
  text-align: center;
  margin-top: 30px; }
  .client-relations .tc-relations-boxes .thumbnail,
  .vendor-relations .tc-relations-boxes .thumbnail {
    padding: 20px 0; }
    .client-relations .tc-relations-boxes .thumbnail img,
    .vendor-relations .tc-relations-boxes .thumbnail img {
      margin: 0px auto;
      max-width: 140px; }
    .client-relations .tc-relations-boxes .thumbnail .caption h3,
    .vendor-relations .tc-relations-boxes .thumbnail .caption h3 {
      height: 52px;
      overflow: hidden; }
    .client-relations .tc-relations-boxes .thumbnail .pro-title,
    .vendor-relations .tc-relations-boxes .thumbnail .pro-title {
      font-size: 14px;
      color: #777; }
    .client-relations .tc-relations-boxes .thumbnail .toolbar,
    .vendor-relations .tc-relations-boxes .thumbnail .toolbar {
      margin-top: 20px; }

/*************************************************/
/*****   Section Relation:orders.html.twig   *****/
/*************************************************/
.relation-orders .user {
  width: 30px; }
.relation-orders .discussion,
.relation-orders .cost {
  width: 80px;
  text-align: center; }
.relation-orders .tc-requests-section th,
.relation-orders .tc-suggestions-section th,
.relation-orders .tc-orders-section th {
  padding: 5px 0; }
.relation-orders td.user img {
  width: 30px; }
.relation-orders td.request {
  font-weight: bold; }

/***************************************************/
/*****   Section Relation:progress.html.twig   *****/
/***************************************************/
.relation-progress .tc-progress-section .work-completed .description {
  color: #777;
  font-style: italic;
  text-decoration: line-through; }
.relation-progress .tc-progress-section table .cost,
.relation-progress .tc-progress-section table .quantity,
.relation-progress .tc-progress-section table .subtotal,
.relation-progress .tc-progress-section table .actions {
  width: 80px;
  text-align: center;
  vertical-align: middle; }
.relation-progress .tc-progress-section table .check {
  width: 30px;
  text-align: center; }

/***************************************************/
/*******   Section Relation:bill.html.twig   *******/
/***************************************************/
.relation-bill .tc-bill-section table .cost,
.relation-bill .tc-bill-section table .quantity,
.relation-bill .tc-bill-section table .subtotal {
  width: 80px;
  text-align: center;
  vertical-align: middle; }
.relation-bill .tc-bill-section table .actions {
  width: 30px;
  text-align: center; }
  .relation-bill .tc-bill-section table .actions .btn.dropdown-toggle {
    line-height: 20px; }
  .relation-bill .tc-bill-section table .actions .dropdown-menu {
    text-align: left; }

/***************************************************/
/*****   Section Relation:invoices.html.twig   *****/
/***************************************************/
.relation-invoices .tc-invoices-section table .closed-at,
.relation-invoices .tc-invoices-section table .total {
  width: 80px;
  text-align: center;
  vertical-align: middle; }

/******************************************************************/
/*****    Section Relation:orders.html.twig    ********/
/******************************************************************/
.tc-orders {
  border: none;
  margin-top: -10px; }
  .tc-orders th {
    font-weight: normal;
    font-style: italic;
    font-size: 13px;
    padding-top: 0;
    padding-bottom: 0; }
  .tc-orders tbody tr td {
    padding: 30px 0;
    border-bottom: 1px solid #dededf;
    border-top: none;
    vertical-align: middle; }
    .tc-orders tbody tr td a {
      font-size: 16px; }
  .tc-orders tbody .discussion {
    text-align: center;
    width: 50px; }
  .tc-orders tbody .cost {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    padding-right: 30px; }

/******************************************************************/
/*****    Section Order:show.html.twig & edit.html.twig    ********/
/******************************************************************/
.order-not-ready .tc-toolbar .tc-edit-btn .dropdown-toggle,
.order-edit .tc-toolbar .tc-edit-btn .dropdown-toggle,
.order-show .tc-toolbar .tc-edit-btn .dropdown-toggle {
  padding: 6px 8px 10px 8px; }
.order-not-ready .tc-deliverables-section .no,
.order-not-ready .tc-deliverables-section .cost,
.order-not-ready .tc-deliverables-section .quantity,
.order-not-ready .tc-deliverables-section .subtotal,
.order-not-ready .tc-deliverables-section .actions,
.order-edit .tc-deliverables-section .no,
.order-edit .tc-deliverables-section .cost,
.order-edit .tc-deliverables-section .quantity,
.order-edit .tc-deliverables-section .subtotal,
.order-edit .tc-deliverables-section .actions,
.order-show .tc-deliverables-section .no,
.order-show .tc-deliverables-section .cost,
.order-show .tc-deliverables-section .quantity,
.order-show .tc-deliverables-section .subtotal,
.order-show .tc-deliverables-section .actions {
  width: 80px;
  text-align: center;
  vertical-align: middle; }
.order-not-ready .tc-deliverables-section .no,
.order-not-ready .tc-deliverables-section .actions,
.order-edit .tc-deliverables-section .no,
.order-edit .tc-deliverables-section .actions,
.order-show .tc-deliverables-section .no,
.order-show .tc-deliverables-section .actions {
  width: 40px; }
.order-not-ready .tc-deliverables-section .remove-action,
.order-edit .tc-deliverables-section .remove-action,
.order-show .tc-deliverables-section .remove-action {
  top: 0;
  color: #d9534f; }
.order-not-ready .tc-deliverables-section input,
.order-edit .tc-deliverables-section input,
.order-show .tc-deliverables-section input {
  margin: 10px 0; }
.order-not-ready .tc-deliverables-section .number,
.order-edit .tc-deliverables-section .number,
.order-show .tc-deliverables-section .number {
  width: 20px;
  text-align: center;
  vertical-align: middle;
  color: #999; }
.order-not-ready .tc-total-section,
.order-edit .tc-total-section,
.order-show .tc-total-section {
  text-align: right;
  margin-bottom: 20px; }
  .order-not-ready .tc-total-section .total-label,
  .order-edit .tc-total-section .total-label,
  .order-show .tc-total-section .total-label {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-style: italic;
    color: #999;
    font-size: 12px; }
  .order-not-ready .tc-total-section .total-value,
  .order-edit .tc-total-section .total-value,
  .order-show .tc-total-section .total-value {
    display: inline-block;
    vertical-align: middle;
    padding-left: 80px;
    font-size: 60px;
    line-height: 60px;
    text-align: right;
    color: #0060b2; }

.order-show .tc-agreement-section {
  text-align: center;
  margin-bottom: 20px; }
  .order-show .tc-agreement-section .agree-check {
    font-size: 13px;
    padding-bottom: 20px; }
.order-show .tc-sheet {
  margin-right: 370px; }
.order-show .tc-recent-panel {
  position: fixed;
  top: 112px;
  right: 0;
  bottom: 0;
  width: 350px;
  background: white;
  border-top: 1px solid #ddd; }
  .order-show .tc-recent-panel .tc-thread-section {
    padding: 10px; }
    .order-show .tc-recent-panel .tc-thread-section .tc-comment .media-object {
      width: 30px;
      height: 30px; }
  .order-show .tc-recent-panel .tc-more-section {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    color: #333;
    text-shadow: 0 1px 0 #fff;
    box-shadow: 8px 5px 14px 1px #333; }
    .order-show .tc-recent-panel .tc-more-section a {
      display: block;
      padding: 20px 0;
      text-align: center; }

.tc-offer-section .offer h1 {
  font-weight: 300;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0 10px 0;
  color: #0a6895; }
.tc-offer-section .offer-subtitle {
  color: #777;
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 40px; }
.tc-offer-section .block-title {
  margin-top: 30px; }
  .tc-offer-section .block-title input[type=text] {
    font-size: 14px; }
  .tc-offer-section .block-title .maintitle {
    max-width: 400px;
    width: 50%; }
  .tc-offer-section .block-title .subtitle {
    max-width: 700px;
    font-size: 14px;
    margin-top: 20px; }
.tc-offer-section .new-block {
  border: 1px dashed #dededf;
  border-left: 3px solid #dededf;
  padding: 20px;
  margin: 20px 0; }
  .tc-offer-section .new-block input[type=text] {
    font-size: 14px;
    max-width: 500px; }
  .tc-offer-section .new-block textarea {
    font-size: 14px;
    margin-top: 20px; }
.tc-offer-section .add-new {
  margin-top: 10px; }
  .tc-offer-section .add-new span {
    margin-right: 3px; }

/****************************************************/
/*****    Section Order:not_ready.html.twig    ******/
/****************************************************/
.order-not-ready .tc-sheet {
  position: relative; }
.order-not-ready .tc-over-section {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  margin-top: -200px;
  background: none;
  text-align: center;
  z-index: 1000; }

/*************************************************/
/*****    Section Order:discuss.html.twig    *****/
/*************************************************/
.order-discuss .tc-comment .media-object {
  width: 60px;
  height: 60px; }

.invoice-show .tc-total-section {
  text-align: right;
  margin-bottom: 80px; }
  .invoice-show .tc-total-section .total-label {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-style: italic;
    color: #999;
    font-size: 12px; }
  .invoice-show .tc-total-section .total-value {
    display: inline-block;
    vertical-align: middle;
    padding-left: 80px;
    font-size: 60px;
    line-height: 60px;
    text-align: right;
    color: #0060b2; }

.tc_user {
  background: #f6f6f6;
  height: 100%;
  width: 100%;
  font-family: Arial; }
  .tc_user form {
    margin-bottom: 0; }
  .tc_user .errors {
    position: relative;
    padding: 12px;
    margin: 0px auto;
    width: 300px;
    background: #fcfbe4;
    border: 1px solid #dededf;
    margin-bottom: 24px;
    margin-top: -12px;
    text-align: center; }
    .tc_user .errors .error_line,
    .tc_user .errors p {
      color: #a72323;
      font-style: italic;
      font-size: 13px;
      line-height: 18px; }
    .tc_user .errors .opps {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 5px; }
  .tc_user .form_row .errors {
    margin: 0;
    margin-top: -10px;
    text-align: left;
    border: 0;
    background: none;
    width: auto;
    padding: 0px; }
  .tc_user .logo {
    background: url(/img/logo_login.png) no-repeat;
    position: relative;
    width: 226px;
    height: 31px;
    margin: 0px auto;
    margin-bottom: 32px;
    padding-right: 8px; }
  .tc_user .wrapper {
    position: absolute;
    left: 50%;
    top: 50px;
    width: 320px;
    margin-left: -160px; }
  .tc_user .gradient {
    background: url(/img/gradientLogin.gif) no-repeat;
    width: 725px;
    height: 725px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-top: -362px;
    margin-left: -362px; }
  .tc_user .well {
    background: #ffffff; }
  .tc_user .submit_row {
    text-align: right; }
  .tc_user .more_links {
    padding: 0 20px;
    height: 40px; }
    .tc_user .more_links a {
      font-size: 13px;
      color: #777;
      margin-right: 12px; }
    .tc_user .more_links a:hover {
      color: #990000; }

.tc_user_confirmed .wrapper,
.tc_user_check .wrapper {
  width: 400px;
  margin-left: -200px; }
.tc_user_confirmed .message,
.tc_user_check .message {
  padding-bottom: 10px; }
.tc_user_confirmed .fos_user_success,
.tc_user_check .fos_user_success {
  font-weight: bold;
  color: #990000; }

.tc_user_register .wrapper {
  width: 350px;
  margin-right: -175px; }

/*************************************************/
/*****   Section root.html.twig   *****/
/*************************************************/
.root .tc-menu-panel {
  display: none; }
.root .tc-toolbar {
  display: none; }
.root .tc-main-panel {
  left: 0; }
.root .tc-sheet {
  margin-top: 50px; }
.root .tc-over-section {
  text-align: center; }
  .root .tc-over-section .description {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #aaa;
    font-style: italic; }
    .root .tc-over-section .description p {
      font-size: 13px; }
  .root .tc-over-section .client {
    display: inline-block;
    padding: 10px 40px 30px 40px;
    margin-right: 5px;
    vertical-align: top;
    max-width: 400px;
    border: 1px dashed #dededf; }
    .root .tc-over-section .client .provide {
      height: 50px;
      margin-top: 20px; }
    .root .tc-over-section .client .or {
      padding: 10px 0;
      color: #999;
      font-size: 11px; }
    .root .tc-over-section .client p {
      padding-top: 10px; }
  .root .tc-over-section .vendor {
    display: inline-block;
    padding: 10px 40px 30px 40px;
    margin-left: 5px;
    vertical-align: top;
    max-width: 400px;
    border: 1px dashed #dededf; }
    .root .tc-over-section .vendor .provide {
      height: 50px;
      margin-top: 20px; }
    .root .tc-over-section .vendor .or {
      padding: 10px 0;
      color: #999;
      font-size: 11px; }
    .root .tc-over-section .vendor p {
      padding-top: 10px; }
  .root .tc-over-section .logo {
    margin-top: 40px; }

.blurry {
  opacity: 0.3;
  filter: alpha(opacity=30);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); }

.line-seperator {
  border-bottom: 1px solid white;
  margin-top: 5px;
  margin-bottom: 4px;
  display: block; }
