@import "../vendor/bootstrap/lib/_variables";
@import "../vendor/bootstrap/lib/_mixins";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
    background-color: #fff;
    overflow-y : scroll;
    overflow-x : hidden;
    font: 14px Helvetica, Arial, sans-serif;
}

a {
    color: #1b85b2;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

p {
    font-size: 14px;
    padding-bottom: 20px;
}

ul{
    margin:0;
}

form{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

legend{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
    margin: 60px 0 10px 0;
    
    .badge{
        vertical-align: middle;
    }
    
    span {
        vertical-align: middle;
        font-size: 14px;
        color: #999;
        padding-left: 5px;
    }
}

.tc-panel{
    overflow-y : auto;
}


// 1st Column
.tc-menu-panel {
    position: fixed;
    top: 0px;
    left:0;
    bottom:0;
    width: 220px;
    vertical-align: top;
    color: #fff;
    background: #202022;
    box-shadow: -5px 0px 5px -5px #222 inset;
    overflow-y: hidden;
    
    .tc-menu {
        
        i {
            width:20px;
            color: #C1C5C8;
        }
        
        li {    
            a {
                font-size: 14px;
                color: #FFF;
                text-shadow: none;
                display: block;
                padding: 15px 0 15px 25px;
            }
            a:hover{
                text-decoration: none;
                cursor: pointer;
                background: rgba(0,0,0,.1);
                box-shadow: 0px 3px 3px -3px #222 inset, 0px -3px 3px -3px #222 inset;
            }
            .sub_label{
                display: block;
                font-size: 11px;
                color: #777;
                padding: 5px 30px 0 0;
            }
        }
        
        .active {
            border-left: 4px solid #75d600;
            
            a, a:hover{
                margin-left: -4px;
                background: rgba(0,0,0,.1);
                box-shadow: 0px 3px 3px -3px #222 inset, 0px -3px 3px -3px #222 inset;
                color: #FFF;
            }
        }
    }
    
    .tc-menu-heading {
        top: 0;
        background: rgba(0,0,0,0.2);
        
        .account {
            margin-left: 20px;
            
            .alerts {
                display: inline-block;
                padding-right: 20px;
                display: none;
                
                .badge {
                    background-color: #74d600;
                    margin-left: 5px;
                }
            }
            
            .dropdown {
                text-align: left;
                padding: 20px 0;
                display: inline-block;
                
                .caret {
                    border-top-color: #FFF;
                    display: inline-block;
                    vertical-align: top;
                    margin: 2px 0 0 10px;
                    vertical-align: middle;
                }
                
                .name {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 120px;
                    display: inline-block;
                    vertical-align: middle;
                    padding-left: 10px;
                }
                
                a {
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                }
                
                .dropdown-menu{
                    a{
                        color: #000;
                        font-weight: normal;
                    }
                }
            }
            
        }
        
        .tc-logo {
            padding: 25px 0 0 44px;
            position: absolute;
            bottom: 40px;
        }
        
    }
    
    .tc-return-section{
        ul{
            margin: 5px 0;
        }
        span{
        }
        i{
            margin-top:1px;
        }
    }
    
    .nav-header {
        display: block;
        line-height: 30px;
        font-size: 12px;
        font-weight: normal;
        text-shadow: none;
        text-transform: uppercase;
        color: #b1b4b7;
        text-shadow: 1px 1px 2px #232729;
        margin: 10px 0 5px 0;
        padding: 3px 20px;
        
        a, a:hover {
            color: #b1b4b7;
            
            i {
                margin-right: 5px;
            }
        }
    }
    
}

.tc-main-panel{
    position: absolute;
    top: 0px;
    left: 220px;
    right:0;
    
    .tc-toolbar{
        height: 90px;
        position: fixed;
        right: 0;
        left: 220px;
        top: 0;
        background: rgba(255,255,255,0.9);
        z-index: 100;
        //border-bottom: 1px dashed #dededf;
        
        .tc-breadcrumb{
            color: #333;
            font-weight: 200;
            font-size: 24px;
            
            .breadcrumb{
                padding:0;
                background: none; 
                
                img{
                    margin-top: -3px;
                }
                
                .active{
                    padding: 20px 50px;
                    
                    .divider{
                        display: none;
                    }
                    
                    a {
                        font-weight: 300;
                        font-size: 40px;
                        font-family: 'Open Sans', sans-serif;
                        color: #333;
                    }
                    
                    a:hover {
                        color: #999;
                    }
                }
            }
        }
        
        .tc-controls{
            margin: 37px 50px;
            
            span {
                font-size: 16px;
            }
        }
    }
}

.tc-full-panel {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    display: inline-block;
    vertical-align: top;   
}
.tc-sheet {
    margin-top: 110px;
    
    & > [class*="-section"],
    & > [class$="-section"]{
        padding: 0 50px;
    }
    
    .tc-full-section{
        padding:0;
    }
    
    .tc-title-section {
        text-align: center;
        margin: 20px 0;
        p {
            font-style: italic;
            color: #ccc;
            margin-top: -10px;
            font-size: 12px;
        }
    }
    
}
.tc-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

@import "icons";
@import "relation";
@import "order";
@import "invoice";
@import "user";

.blurry{
    opacity: 0.3;
    filter: alpha(opacity=30);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.line-seperator{
    border-bottom: 1px solid white;
    margin-top: 5px;
    margin-bottom: 4px;
    display:block;
}

