
/******************************************************************/
/*****    Section Order:show.html.twig & edit.html.twig    ********/
/******************************************************************/
.order-not-ready,
.order-edit,
.order-show{
    .tc-toolbar{
        .tc-edit-btn{            
            // Hack for caret height alignment the default bootstrap wasn't working...
            .dropdown-toggle{
                padding:6px 8px 10px 8px;        
            }
        }
    }    
    .tc-deliverables-section{
        .no, 
        .cost,        
        .quantity,
        .subtotal,
        .actions{
            width:80px;        
            text-align:center;             
            vertical-align: middle;
        }
        
        .no,
        .actions{
            width:40px;   
        }
        .remove-action{
            top:0; // Overwrite top:1px of .glyphicon
            color: $brand-danger;
        }
        
        input{
            margin-bottom:0;
        }
    }
    
    .tc-total-section{
        text-align:right;
        margin-bottom:20px;
        
        .total-label{
            display:inline-block;
            vertical-align:middle;
            text-align:right;
            font-style: italic;
            color: #999;
            font-size: 12px;
        }
        
        .total-value{
            display:inline-block;
            vertical-align:middle;
            padding-left:80px;
            font-size: 60px;
            line-height:60px;
            text-align: right;
            color: #0060b2;
        }
    }
}
.order-show{
    
    .tc-agreement-section{
        text-align: center;
        margin-bottom:20px;
        
        .agree-check{
            font-size: 13px;
            padding-bottom: 20px;
        }
    }
    
    .tc-sheet{
        margin-right: 370px;
    }
    
    .tc-recent-panel{
        position:fixed;
        top:112px;
        right:0;
        bottom:0;
        width:350px;
        background:white;
        border-top:1px solid #ddd;
        
        .tc-thread-section{
            padding:10px;
            
            .tc-comment .media-object{
                width:30px;
                height:30px;
            }
        }
        
        .tc-more-section{
            position:absolute;
            bottom:0;
            right:0;
            width:100%;
            background: rgba(255,255,255,.5);
            color: #333;
            text-shadow: 0 1px 0 #fff;
            box-shadow: 8px 5px 14px 1px #333;
            a{
                display: block;
                padding: 20px 0;
                text-align: center;
            }
        }
    }
}

/****************************************************/
/*****    Section Order:not_ready.html.twig    ******/
/****************************************************/
.order-not-ready{
    .tc-sheet{
        position: relative;
    }
    .tc-over-section{
        position:absolute;
        top:50%;
        left:50%;
        width: 600px;
        margin-left:-300px;
        margin-top:-200px;
        background:none;
        text-align:center;
        z-index:1000;
    }
}
/*************************************************/
/*****    Section Order:discuss.html.twig    *****/
/*************************************************/
.order-discuss{
    .tc-comment .media-object{
        width:60px;
        height:60px;
    }
}