/******************************************************************/
/*****    Section Relation:orders.html.twig    ********/
/******************************************************************/
.tc-orders{
    border: none;
    margin-top: -10px;
    
    th{
        font-weight: normal;
        font-style: italic;
        font-size:13px;
        padding-top:0;
        padding-bottom:0;
    }
    
    tbody {
        tr td {
            padding: 30px 0;
            border-bottom: 1px solid #dededf;
            border-top: none;
            vertical-align: middle;
            
            a {
                font-size: 16px;
            }
        }
        
        .discussion {
            text-align: center;
            width: 50px;
        }
        
        .cost {
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            width: 180px;
            padding-right: 30px;
        }
    }
}

/******************************************************************/
/*****    Section Order:show.html.twig & edit.html.twig    ********/
/******************************************************************/
.order-not-ready,
.order-edit,
.order-show{
    .tc-toolbar{
        .tc-edit-btn{            
            // Hack for caret height alignment the default bootstrap wasn't working...
            .dropdown-toggle{
                padding:6px 8px 10px 8px;        
            }
        }
    }    
    .tc-deliverables-section{
        .no, 
        .cost,        
        .quantity,
        .subtotal,
        .actions{
            width:80px;        
            text-align:center;             
            vertical-align: middle;
        }
        
        .no,
        .actions{
            width:40px;   
        }
        .remove-action{
            top:0; // Overwrite top:1px of .glyphicon
            color: $brand-danger;
        }
        
        input{
            margin: 10px 0;
        }
        
        .number {
            width: 20px;
            text-align: center;
            vertical-align: middle;
            color: #999;
        }
    }
    
    .tc-total-section{
        text-align:right;
        margin-bottom:20px;
        
        .total-label{
            display:inline-block;
            vertical-align:middle;
            text-align:right;
            font-style: italic;
            color: #999;
            font-size: 12px;
        }
        
        .total-value{
            display:inline-block;
            vertical-align:middle;
            padding-left:80px;
            font-size: 60px;
            line-height:60px;
            text-align: right;
            color: #0060b2;
        }
    }
}
.order-show{
    
    .tc-agreement-section{
        text-align: center;
        margin-bottom:20px;
        
        .agree-check{
            font-size: 13px;
            padding-bottom: 20px;
        }
    }
    
    .tc-sheet{
        margin-right: 370px;
    }
    
    .tc-recent-panel{
        position:fixed;
        top:112px;
        right:0;
        bottom:0;
        width:350px;
        background:white;
        border-top:1px solid #ddd;
        
        .tc-thread-section{
            padding:10px;
            
            .tc-comment .media-object{
                width:30px;
                height:30px;
            }
        }
        
        .tc-more-section{
            position:absolute;
            bottom:0;
            right:0;
            width:100%;
            background: rgba(255,255,255,.5);
            color: #333;
            text-shadow: 0 1px 0 #fff;
            box-shadow: 8px 5px 14px 1px #333;
            a{
                display: block;
                padding: 20px 0;
                text-align: center;
            }
        }
    }
}

.tc-offer-section {
    
    .offer {
        
        h1 {
            font-weight: 300;
            font-size: 60px;
            font-family: 'Open Sans', sans-serif;
            padding: 20px 0 10px 0;
            color: #0a6895;
        }
    }
    
    .offer-subtitle {
        color: #777;
        font-style: italic;
        margin-top: -5px;
        margin-bottom: 40px;
    }
    
    .block-title {
        margin-top: 30px;
        
        input[type=text]{
            font-size: 14px;
        }
        
        .maintitle{
            max-width: 400px;
            width: 50%;
        }
        
        .subtitle {
            max-width: 700px;
            font-size: 14px;
            margin-top: 20px;
        }
    }
    
    .new-block {
        border: 1px dashed #dededf;
        border-left: 3px solid #dededf;
        padding: 20px;
        margin: 20px 0;
        
        input[type=text]{
            font-size: 14px;
            max-width: 500px;
        }
        
        textarea {
            font-size: 14px;
            margin-top: 20px;
        }
    }
    
    .add-new {
        margin-top: 10px;
        
        span {
            margin-right: 3px;
        }
    }
}

/****************************************************/
/*****    Section Order:not_ready.html.twig    ******/
/****************************************************/
.order-not-ready{
    .tc-sheet{
        position: relative;
    }
    .tc-over-section{
        position:absolute;
        top:50%;
        left:50%;
        width: 600px;
        margin-left:-300px;
        margin-top:-200px;
        background:none;
        text-align:center;
        z-index:1000;
    }
}
/*************************************************/
/*****    Section Order:discuss.html.twig    *****/
/*************************************************/
.order-discuss{
    .tc-comment .media-object{
        width:60px;
        height:60px;
    }
}