/*************************************************/
/*****   Section Relation:new.html.twig   *****/
/*************************************************/

.tc-relations-section {
    
    h4 {
        margin: 30px 0 20px 0;
    }
    
    input[type='email'] {
        max-width: 350px;
        font-size: 14px;
    }
    
    .checkbox {
        margin: 20px 0 20px 21px;
        
        input {
            margin-top: 3px;
        }
    }
}

/*************************************************/
/*****   Section Relation:menu.html.twig   *****/
/*************************************************/

.tc-return-section{
    margin-top: 10px;
}

.tc-contact-section{
    text-align: left;
    margin: -5px 0 10px 0;
    
    .contact{
        padding-top: 10px;
        
        .avatar {
            margin: 0 0 10px 20px;
            display: inline-block;
            vertical-align: top;
            border-bottom: 5px solid #75d600;
            height: 39px;
            
            img{
                width:25px;
                height:25px;
                margin-bottom: 10px;
            }
        }
        
        .infos {
            display: inline-block;
            vertical-align: top;
            padding-left: 15px;
            
            .name{
                font-weight: bold;
                font-size: 14px;
                padding: 2px 0 5px 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 135px;
            }
            .role{
                font-style: italic;
                font-size: 11px;
                color: #777;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 135px;
            }  
        }
    }
}

.tc-menu-section {
    
    .nav-header {
        display: inline-block;
    }
    
    .settings {
        display: inline-block;
        margin-top: -5px;
        vertical-align: middle;
        margin-top: -10px;
    }
}

/*************************************************/
/*****   Section Relation:index.html.twig   *****/
/*************************************************/

.client-relations,
.vendor-relations{    
    .tc-relations-boxes{
        text-align: center;
        margin-top: 30px;
        
        .thumbnail {
            padding: 20px 0;            
            
            img {
                margin: 0px auto;
                max-width: 140px;
            }
            
            .caption {
                h3 {
                    height: 52px;
                    overflow: hidden;
                }
            }
            
            .pro-title {
                font-size: 14px;
                color: #777;
            }
            
            .toolbar{
                margin-top:20px;
            }
            
            
        }
    }
}

/*************************************************/
/*****   Section Relation:orders.html.twig   *****/
/*************************************************/
.relation-orders{
    .user{
        width:30px;
    }
    
    .discussion,
    .cost{
        width:80px;
        text-align:center;
    }
    
    .tc-requests-section,
    .tc-suggestions-section,
    .tc-orders-section{
        th{
            padding:5px 0;
        }
    }
    
    td.user{
        img{
            width:30px;
        }
    }
    
    td.request{
        font-weight: bold;
    }
}

/***************************************************/
/*****   Section Relation:progress.html.twig   *****/
/***************************************************/
.relation-progress{
    
    .tc-progress-section{
        
        legend{
            margin-bottom: 0;
            
            span {
                font-weight: normal;
                font-style: italic;
                font-size: 12px;
            }
        }
        
        .work-completed{
            .description{
                color: #777;
                font-style: italic;
                text-decoration: line-through;
            }
        }
        
        .tc-deliverable{
            td {
                vertical-align: middle;
            }
            
            .tc-progress-object {
                position: relative;
                padding: 20px 0;
                border-top: 1px solid #dededf;;
                
                .border {
                    position: absolute;
                    top: 48px;
                    bottom: 40px;
                    left: 25px;
                    width: 3px;
                    background: #dededf;
                    content: '';
                    z-index: 0;
                }
                
                .pourc-completed {
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    z-index: 100;
                    font-size: 11px;
                    font-weight: bold;
                    color: #fff;
                    padding-top: 4px;
                }
                
                .deliverable-inprogress {
                    background-color: #428bca;
                }
                
                .deliverable-success {
                    background-color: #5cb85c;
                }
                
                .table {
                    margin-bottom: 0;
                    
                    td {
                        border-top: none;
                    }
                }
                
            }
            
            .main-row {
                
                .check-col {
                    width: 50px;
                    text-align: center;
                    vertical-align: top;
                    padding: 14px 0 0 19px;
                    
                    .more {
                        margin: 18px 0 0 11px;
                        position: absolute;
                        
                        a {
                            color: #777;
                        }
                    }
                }
                
                .title-col {
                    width: 300px;
                    font-weight: bold;
                    font-size: 18px;
                    padding-right: 20px;
                    padding-left: 0;
                }
                
                .completed {
                    text-decoration: line-through;
                    color: #777;
                }
                
                .progress-col {
                    
                    .progress {
                        margin-bottom: 0;
                    }
                    
                    .progress-label {
                        text-align: right;
                        font-weight: bold;
                        padding-right: 10px;
                    }
                }
                
                .price-col {
                    width: 120px;
                    font-weight: bold;
                    text-align: center;
                    font-size: 18px;
                    
                    span {
                        font-weight: normal;
                        color: #777;
                        padding-right: 10px;
                        font-size: 13px;
                    }
                }
            }
            
            .object-row {
                
                td {
                    border-top: none;
                    vertical-align: middle;
                    padding: 10px 0;
                }
                
                .check-col {
                    width: 50px;
                    text-align: center;
                }
                
                .title-col {
                    font-size: 14px;
                    
                    span {
                        font-weight: bold;
                        padding-right: 10px;
                    }
                }
            }
            
            .first-row {
                border-top: none;
            }
        }
    }
}


/***************************************************/
/*******   Section Relation:bill.html.twig   *******/
/***************************************************/
.relation-bill{
    
    .tc-bill-section{
        table{
            .cost,        
            .quantity,
            .subtotal{
                width:80px;        
                text-align:center;             
                vertical-align: middle;
            }
            .actions{
                width:30px; 
                text-align:center;     
                
                .btn.dropdown-toggle{
                    line-height:20px;
                }
                
                .dropdown-menu{
                    text-align:left;
                }
            }
        }
    }
}

/***************************************************/
/*****   Section Relation:invoices.html.twig   *****/
/***************************************************/
.relation-invoices{
    
    .tc-invoices-section{
        table{
            .closed-at,        
            .total{
                width:80px;        
                text-align:center;             
                vertical-align: middle;
            }
        }
    }
}