/*************************************************/
/*****   Section Relation:new.html.twig   *****/
/*************************************************/

.tc-relations-section {
    
    h4 {
        margin: 30px 0 20px 0;
    }
    
    input[type='email'] {
        max-width: 350px;
        font-size: 14px;
    }
    
    .checkbox {
        margin: 20px 0 20px 21px;
        
        input {
            margin-top: 3px;
        }
    }
}

/*************************************************/
/*****   Section Relation:menu.html.twig   *****/
/*************************************************/

.tc-return-section{
    margin-top: 10px;
}

.tc-contact-section{
    text-align: left;
    margin: -5px 0 10px 0;
    
    .contact{
        padding-top: 10px;
        
        .avatar {
            margin: 0 0 10px 20px;
            display: inline-block;
            vertical-align: top;
            border-bottom: 5px solid #75d600;
            height: 39px;
            
            img{
                width:25px;
                height:25px;
                margin-bottom: 10px;
            }
        }
        
        .infos {
            display: inline-block;
            vertical-align: top;
            padding-left: 15px;
            
            .name{
                font-weight: bold;
                font-size: 14px;
                padding: 2px 0 5px 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 135px;
            }
            .role{
                font-style: italic;
                font-size: 11px;
                color: #777;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 135px;
            }  
        }
    }
}

.tc-menu-section {
    
    .nav-header {
        display: inline-block;
    }
    
    .settings {
        display: inline-block;
        margin-top: -5px;
        vertical-align: middle;
        margin-top: -10px;
    }
}

/*************************************************/
/*****   Section Relation:index.html.twig   *****/
/*************************************************/

.client-relations,
.vendor-relations{    
    .tc-relations-boxes{
        text-align: center;
        margin-top: 30px;
        
        .thumbnail {
            padding: 20px 0;            
            
            img {
                margin: 0px auto;
                max-width: 140px;
            }
            
            .caption {
                h3 {
                    height: 52px;
                    overflow: hidden;
                }
            }
            
            .pro-title {
                font-size: 14px;
                color: #777;
            }
            
            .toolbar{
                margin-top:20px;
            }
            
            
        }
    }
}

/*************************************************/
/*****   Section Relation:orders.html.twig   *****/
/*************************************************/
.relation-orders{
    .user{
        width:30px;
    }
    
    .discussion,
    .cost{
        width:80px;
        text-align:center;
    }
    
    .tc-requests-section,
    .tc-suggestions-section,
    .tc-orders-section{
        th{
            padding:5px 0;
        }
    }
    
    td.user{
        img{
            width:30px;
        }
    }
    
    td.request{
        font-weight: bold;
    }
}

/***************************************************/
/*****   Section Relation:progress.html.twig   *****/
/***************************************************/
.relation-progress{
    
    .tc-progress-section{
        
        legend{
            margin-bottom: 0;
            
            span {
                font-weight: normal;
                font-style: italic;
                font-size: 12px;
            }
        }
        
        .work-completed{
            .description{
                color: #777;
                font-style: italic;
                text-decoration: line-through;
            }
        }
        
        thead {
            
            .progress-col {
                font-size: 12px;
                text-align: center;
                color: #999;
                font-weight: bold;
            }
            
            .date-col {
                font-size: 12px;
                text-align: center;
                color: #999;
                font-weight: bold;
            }
            
            
        }
        
        tbody{
            border-bottom: 1px solid #dededf;
            
            td {
                vertical-align: middle;
                padding: 20px 0;
            }
            
            .check-col {
                width: 50px;
                text-align: center;
                vertical-align: top;
                padding: 23px 0 0 12px;
                
                .more {
                    margin: 18px 0 0 11px;
                    position: absolute;
                    
                    a {
                        color: #777;
                    }
                }
            }
            
            .title-col {
                width: 450px;
                font-weight: bold;
                font-size: 18px;
                padding-left: 0;
                text-align: left;
                
                a {
                    font-weight: bold;
                }
                
                .title {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 420px;
                    color: #777;
                    font-weight: normal;
                }
                
                .proposal {
                    font-size: 14px;
                    color: #777;
                    font-weight: normal;
                    padding-top: 5px;
                }
                .purchased {
                    font-size: 14px;
                    color: #333;
                    font-weight: normal;
                    padding-top: 5px;
                }
            }
            
            .progress-col {
                padding: 0 20px;
                
                .progress {
                    margin-bottom: 0;
                }
                
                .progress-label {
                    text-align: right;
                    font-weight: bold;
                    padding-right: 10px;
                }
                
                .total-value {
                    text-align: right;
                    font-weight: bold;
                    padding-right: 9px;
                    color: #999;
                    font-size: 12px;
                    padding-top: 2px;
                }
            }
            
            .price-col {
                width: 120px;
                font-weight: bold;
                text-align: center;
                font-size: 16px;
                
                span {
                    font-weight: normal;
                    color: #777;
                    padding-right: 10px;
                }
            }
            
            .date-col {
                width: 130px;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                color: #333;
            }
            
        }
    }
}


/***************************************************/
/*******   Section Relation:bill.html.twig   *******/
/***************************************************/
.relation-bill{
    
    .tc-bill-section{
        table{
            .cost,        
            .quantity,
            .subtotal{
                width:80px;        
                text-align:center;             
                vertical-align: middle;
            }
            .actions{
                width:30px; 
                text-align:center;     
                
                .btn.dropdown-toggle{
                    line-height:20px;
                }
                
                .dropdown-menu{
                    text-align:left;
                }
            }
        }
    }
}

/***************************************************/
/*****   Section Relation:invoices.html.twig   *****/
/***************************************************/
.relation-invoices{
    
    .tc-invoices-section{
        table{
            .closed-at,        
            .total{
                width:80px;        
                text-align:center;             
                vertical-align: middle;
            }
        }
    }
}