//
// Layouts/Main
// --------------------------------------------------

// Imports
// -------------------------
@import "toolbar";
@import "sheet";

// Main Panel
// -------------------------
.tc-main-panel {
    
    .tc-toolbar {
        height: 90px;
        position: fixed;
        top: 0;
        right: 0;
        left: $menubar-normal-width;
        z-index: 100;
    }
    
    .push-thread {
        
    }
    
    // Container
    .tc-sheet {
        margin-top: 130px;
    }
}

.rfp-show {
    
    .tc-main-panel {
        right: 370px;
    }
}