//
// Layouts/Toolbar
// --------------------------------------------------

// Variables 
// -------------------------

// Imports 
// -------------------------

// Basic Elements 
// -------------------------

.tc-main-panel .tc-toolbar{
    
    background: rgba(244,244,244,0.9);
    border-bottom: 1px solid $gray-border-color;
    
    .tc-controls{
        position: absolute;
        right: 50px;
        top: 22px;
        
        span {
            font-size: 16px;
        }
    }
    
}

.tc-toolbar .tc-breadcrumb {
    >:before {
        content: "";
        border-bottom: 1px solid #888;
        position: absolute;
        left: 0;
        top: 0;
        width:10px;
        height: 90px;
        background: #f4f4f4;
    }
    >:after {
        content: "";
        border-top: 0;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $gray-light;
        position: absolute;
        left: 0;
        top: 90px;
    }
}