//
// Layouts/Toolbar
// --------------------------------------------------

// Variables 
// -------------------------

// Imports 
// -------------------------

// Basic Elements 
// -------------------------

.tc-main-panel .tc-toolbar{
    
    background: rgba(244,244,244,0.9);
    border-bottom: 1px solid $gray-border-color;
    
    .tc-controls{
        margin: 22px 50px;
        
        span {
            font-size: 16px;
        }
    }
}