<tc-create-project-modal open="isCreateProjectOpen"></tc-create-project-modal>

<div class="tc-dashboard-panel tc-full-panel tc-panel" ng-controller="workspace.DashboardController">
    <h2>Dashboard</h2>

    <h3>Client projects</h3>
    <div ng-repeat="project in workspace.client_projects">
        <a ng-click="openProject(project)"><h4>{{project.name}}</h4></a>
    </div>

    <h3>Vendor projects</h3>
    <div ng-repeat="project in workspace.vendor_projects">
        <a ng-click="openProject(project)"><h4>{{project.name}}</h4></a>
    </div>
</div>