<div class="bg-color"></div>

<!-- Shortcut Menu -->
<ng-include src=" '/app/views/project/shortcut-menu.html' "></ng-include>

<div class="tc-menu-panel-white-spacer"></div>

<div ng-switch="subview">
    <!-- MANAGEMENT MENU -->
    <div ng-switch-default=""
         ng-controller="workspace.ManagementMenuController"
         class="tc-management-menu-section tc-menu-section">
        <ul class="nav nav-list">
            <li class="nav-header">MANAGEMENT</li>
            <li ng-class="'dashboard'==currentSection&&'active'||''">
                <a ng-href="{{ getHref('workspace.dashboard') }}">
                    <span class="tc-menu-icon">
                        <img src="/images/icons/icon-dashboard.png" />
                    </span> 
                    Dashboard
                </a>
            </li>
            <li ng-class="'pricebook'==currentSection&&'active'||''">
                <a ng-href="{{ getHref('workspace.pricebook') }}">
                    <span class="tc-menu-icon">
                        <img src="/images/icons/icon-pricebook.png" />
                    </span> 
                    Price book
                </a>
            </li>
            <li ng-class="'contacts'==currentSection&&'active'||''">
                <a ng-href="{{ getHref('workspace.contacts') }}">
                    <span class="tc-menu-icon">
                        <img src="/images/icons/icon-contacts.png" />
                    </span> 
                    Contacts
                </a>
            </li>
        </ul>
    </div>



    <div ng-switch-when="project">
        <!-- PROJECT USERS -->
        <ng-include
            ng-hide=" subview != 'project' "
            src="'/app/views/project/users.html'"></ng-include>


        <!-- PROJECT MENU -->
        <ng-include 
            ng-hide=" subview != 'project' "
            src="'/app/views/project/menu.html'" ></ng-include>
    </div>

</div>