//
// Base
// --------------------------------------------------

// Variables 
// -------------------------

// Imports 
// -------------------------

@import "colors";
@import "typography";
@import "buttons";
@import "forms";
@import "icons";
@import "scroll";
@import "tables";
@import "lists";
@import "menu";

// Basic Elements 
// -------------------------

body {
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    font: $font-size-base $font-family-sans-serif;
}

.none {
    display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}