//
// Base/Buttons
// --------------------------------------------------

.tc-btn-newtext {
    padding-top: 13px;
    
    p {
        padding: 5px 25px 0 25px;
        margin-bottom: 0;
        color: $gray-light;
        font-weight: bold;
    }
}

.tc-btn-reset{
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0;
    border-color: transparent;
}