//
// Base/Colors
// --------------------------------------------------


// Imports
// -------------------------

// Primary Blue Links
$primary-links: #1b85b2;

// Branding Dark Blue

$tc-brand-blue: #0a6895;

// Border Colors
$gray-border-color: #dededf;
$shadow-borders: rgba(0,0,0,0.03);

// Light Background Colors

$gray-ultra-light: lighten(#000, 97.25%) !default; // #f8f8f8

// Reds
$red-dark: #990000;