//
// Base/Lists
// --------------------------------------------------

// List Elements
ul{
    margin: 0;
}


.tc-status {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    
    >ul {
        margin-left: -15px;
        
        >li {
            display: inline;
            
            :first-child a {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            
            a:before {
                content: "";
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid #fff;
                position: absolute;
                left: 0;
                top: 0;
            }
            
            a {
                display: block;
                float: left;
                height: 30px;
                background: #ddd;
                text-align: center;
                padding: 5px 25px 0 40px;
                position: relative;
                margin: 0 10px 0 0;
                font-size: 14px;
                text-decoration: none;
                color: #fff;
                font-weight: bold;
            }
            
            a:after {
                content: "";
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid #ddd;
                position: absolute;
                right: -15px;
                top: 0;
                z-index: 1;
            }
            
            :last-child a {
                padding-right: 80px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
    
    .inprocess {
        background: $brand-primary;
    }
    
    .inprocess:after {
        border-left-color: $brand-primary;
    }
    
    .active {
        background: $brand-success;
    }
    
    .active:after {
        border-left-color: $brand-success;
    }
    
    .declined {
        background: $brand-danger;
    }
    
    .declined:after {
        border-left-color: $brand-danger;
    }
}