//
// Base/Tables
// --------------------------------------------------

// Imports
// -------------------------

@import "../vendor/bootstrap/lib/_mixins";

// Variables
// -------------------------

// Overwriting Bootstrap
// -------------------------

.table>thead>tr>th {
    border-bottom: 1px solid $gray-border-color;
}

.table>tbody>tr>td {
    //padding: 20px 0;
}


// Table Elements
// -------------------------

.tc-table { 
    
    // Table Elements
    
    >thead >tr {
        
        th {
            padding-left: 0;
            padding-right: 0;
            font-size: $font-size-h6;
            vertical-align: middle;
            color: $gray-light;
            font-weight: bold;
            text-align: center;
        }
        
        .left {
            text-align: left;
        }
        
    }
    
    >tbody >tr {
        
        >td {
            padding: 20px;
            border-bottom: 1px solid $gray-border-color;
            vertical-align: middle;
        }
        
        // Actions Checkboxes
        .tc-actions-col {
            width: 50px;
            vertical-align: top;
            padding: 23px 0 0 12px;
        }
        
        // Row Number
        .tc-number-col {
            width: 100px;
            //padding-right: 20px;
        }
        
        // Descriptions
        .tc-description-col {
            font-weight: bold;
            font-size: 18px;
            padding-left: 0;
            text-align: left;
            
            .title {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color: #777;
                font-weight: normal;
                font-weight: bold;
            }
            
            .main-description {
                font-size: 14px;
                color: #777;
                font-weight: normal;
                padding-top: 5px;
            }
            .sub-description {
                font-size: 14px;
                color: #333;
                font-weight: normal;
                padding-top: 5px;
            }
        }
        
        // Number of discussions
        .tc-discussion-col {
            width: 120px;
            
            .badge-talk-bubble {
                text-align: center;
                margin: auto;
            }
        }
        
        // Progress Bar
        .tc-progressbar-col {
            width: auto;
            
            .progress {
                margin-bottom: 0;
            }
            
            .progress-label {
                text-align: right;
                font-weight: bold;
                padding-right: 10px;
            }
            
            .total-value {
                text-align: right;
                font-weight: bold;
                padding-right: 9px;
                color: $gray-light;
                font-size: $font-size-h6;
                padding-top: 2px;
            }
        }
        
        .tc-status-col {
            width: 450px;
            padding-right: 20px;
            text-align: center;
        }
        
        // Simple Informations
        .tc-info-col {
            text-align: center;
            font-size: $font-size-base;
            font-weight: bold;
            color: $gray;
        }
        
        // Date
        .tc-date-col {
            width: 150px;
        }
        
        // Price of Items
        .tc-unitprice-col {
            width: 110px;
        }
        
        // Quantity of Items
        .tc-quantity-col {
            width: 40px;
        }
        
        // Row Total Amount in $
        .tc-subtotal-col {
            width: 130px;
            font-size: $font-size-h3;
        }
        
    }
    
    >tfoot >tr {
        
    }
    
}