//
// Base/Typography
// --------------------------------------------------


// Imports
// -------------------------

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

// Overwriting Bootstrap Variables
// -------------------------

// TimeCrumbs' Variables
// -------------------------


// Typography Elements
// -------------------------

// Links
a {
    color: $primary-links;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

// Paragraphs
p {
    font-size: $font-size-base;
    padding-bottom: 20px;
}
