<div ng-switch="subview" 
     ng-controller="workspace.project.ProjectController">
    <ng-include 
        src="'/app/views/project/agreement.html'" 
        ng-switch-when="agreement"></ng-include>

    <ng-include 
        src="'/app/views/project/orders/index.html'"
        ng-controller="workspace.project.orders.OrdersController"
        ng-switch-default=""></ng-include>

    <ng-include 
        src="'/app/views/project/progress.html'" 
        ng-switch-when="progress"></ng-include>
    
    <ng-include 
        src="'/app/views/project/invoices.html'" 
        ng-switch-when="invoices"></ng-include>

    <ng-include 
        src="'/app/views/project/bill.html'" 
        ng-switch-when="bill"></ng-include>
    
    <ng-include 
        src="'/app/views/project/settings.html'" 
        ng-switch-when="settings"></ng-include>
</div>

