<div class="tc-project-menu-section tc-menu-section" 
     ng-controller="workspace.project.ProjectMenuController">
    <ul class="nav nav-list">
        <li class="nav-header">PROJECT MENU</li>
        <li ng-class="('orders'==currentSection) &&'active'||''">
            <a ng-href="{{getHref('workspace.project.orders')}}" >
                <span class="tc-menu-icon">
                    <img src="/images/icons/icon-project-orders.png" />
                </span> 
                Project Orders
            </a>
        </li>
        <li ng-class="'progress'==currentSection&&'active'||''">
            <a ng-href="{{getHref('workspace.project.progress')}}">
                <span class="tc-menu-icon">
                    <img src="/images/icons/icon-work-in-progress.png" />
                </span> 
                Work in progress
            </a>
        </li>
        <li ng-class="'bill'==currentSection&&'active'||''">
            <a ng-href="{{getHref('workspace.project.bill')}}">
                <span class="tc-menu-icon">
                    <img src="/images/icons/icon-open-bill.png" />
                </span> 
                Open Bill
            </a>
        </li>
        <li ng-class="'invoices'==currentSection&&'active'||''">
            <a ng-href="{{getHref('workspace.project.invoices')}}">
                <span class="tc-menu-icon">
                    <img src="/images/icons/icon-invoices.png" />
                </span> 
                All invoices
            </a>
        </li>
        <li ng-class="'agreement'==currentSection&&'active'||''">
            <a ng-href="{{getHref('workspace.project.agreement')}}">
                <span class="tc-menu-icon">
                    <img src="/images/icons/icon-agreement.png" />
                </span> 
                Official agreement
            </a>
        </li>
        <li ng-class=" 'settings' == currentSection && 'active' || '' ">
            <a ng-href="{{getHref('workspace.project.settings')}}">
                <span class="tc-menu-icon">
                    <img src="/images/icons/icon-settings.png" />
                </span> 
                Project settings
            </a>
        </li>
    </ul>
</div>