<div class="tc-shortcut-menu"
     ng-controller="workspace.ShortcutMenuController">
    <div class="btn-group">

        <button class="tc-main-btn btn">{{ project.name || 'Select a project' }}</button>

        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
            <li>
                <a href="#" class="dashboard">
                    <i class="icon-home"></i> 
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-header">MY PROJECTS</li>
            <li ng-repeat="p in workspace.vendor_projects">
                <a ng-click="openProject(p)">{{p.name}}</a>
            </li>
            <li ng-repeat="p in workspace.client_projects">
                <a ng-click="openProject(p)">{{p.name}}</a>
            </li>
            <li class="divider"></li>
            <li><a ng-click='openProjectWizardModal()'> 
                    <i class="icon-plus"></i> 
                    <span>Create new project</span></a>
            </li>        
        </ul>
    </div>
</div>
