<!-- MIDDLE PANEL -->
<div class="tc-list-panel tc-panel tc-panel-with-toolbar"
     ng-controller="workspace.pricebook.PricebookController">
    
<div class="tc-list-pricebook-section tc-section">
    
    <div class="tc-pricebook-toolbar tc-toolbar">
        <button class="btn" type="button" ng-click="openPricebookItemCreatorModal()">
            <i class="icon-plus-sign"></i> 
            Create New Item
        </button>
    </div>
    
    <tc-pricebook-item-creator-modal></tc-pricebook-item-creator-modal>
    
    <div class="tc-list tc-list-pricebook">
        <div class="tc-item" 
             ng-repeat="i in pricebook.items" 
             ng-class="(item.id == i.id) && 'active' || ''" 
             ng-class-odd="'odd'" 
             ng-class-even="'even'"
             ng-click='selectItem(i)' 
             ng-animate="{enter:'view-enter'}" >

            <div class="top-shadow"></div>

            <div class="name">
                {{i.name}}
            </div>

            <div class="bottom-shadow"></div>

        </div>
    </div>
</div>  

</div>


<!-- RIGHT PANEL -->
<div class="tc-detail-panel tc-panel tc-panel-with-toolbar">
    <div ng-switch="subview">

        <div ng-switch-when="item" 
             ng-controller="workspace.pricebook.PricebookItemController"
             ng-include=" '/app/views/pricebook/item.html' "></div>
    </div>
</div>