<div ng-switch="isItemLoading" ng-animate="{enter:'fade-enter'}">
    
    <!-- Loading Pricebook Item -->
    <div ng-switch-when="true" class="tc-detail-loading">   

        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>            

    </div>   

    <!-- PricebookItem Details -->
    <div ng-switch-when="false" class="tc-pricebookItem-details"> 

        <form ng-submit="updateItem()" novalidate="">
            
            <div class="tc-pricebook-toolbar tc-toolbar">
                <button class="btn" type="button" ng-click="updateItem()">
                    <i class="icon-plus-sign"></i> 
                    Edit Pricebook Item
                </button>
            </div>

            <div ng-switch="editMode">

                <!--  READ View -->
                <ng-include ng-switch-when="false"
                            src="'/app/views/pricebook/item-read.html'"></ng-include>

                <!--  EDIT View -->
                <ng-include ng-switch-when="true"
                            src="'/app/views/pricebook/item-edit.html'"></ng-include>

            </div>

        </form>
    </div>
</div>
