{% extends "TCUserBundle::skeleton.html.twig" %}

{% block body_class %} {{parent()}} profile_edit {% endblock %}

{% block sheet %}
    <div class="profile">
        <h3>My Informations</h3>
        {% include "TCUserBundle:Profile:edit_content.html.twig" %}
    </div>
{% endblock %}
    
    
